{% comment %}
    Renders an article card for a given blog with settings to either show the image or not.

    Accepts:
    - blog: {Object} Blog object
    - article: {Object} Article object
    - image_height: {String} The setting changes the height of the article image, if shown
    - show_image: {String} The setting either show the article image or not. If it's not included it will show the image by default
    - show_date: {String} The setting either show the article date or not. If it's not included it will not show the image by default
    - show_author: {String} The setting either show the article author or not. If it's not included it will not show the author by default

    Usage:
    {% render 'article-card' blog: blog, article: article, show_image: section.settings.show_image %}
{% endcomment %}

<article class="article-card{% if article.image == blank or show_image == false %} article-card--no-image{% endif %}" aria-labelledby="Article-{{ article.id }}">
    <div class="article-card__image">
      <a href="{{ article.url }}">
        <img
          src="{{ article.image.src | img_url: 'x300' }}"
          alt="{{ article.image.src.alt | escape }}"
          width="{{ article.image.width }}"
          height="{{ article.image.height }}"
          loading="lazy"
          class="motion-reduce"
        >
      </a>
    </div>

    <div class="article-card__details">
      {% for tag in article.tags %}
        {% if tag contains 'category:' %} 
          <div class="font-card-vendor">{{ tag | replace: 'category:', '' }}</div>
        {% endif %}
      {% endfor %}

      <h3 class="card-information__text font-blog-card-title">
        <a href="{{ article.url }}">
          {{ article.title | escape | truncate: 60 }}
        </a>
      </h3>

      <div class="article-cta">
        <a href="{{ article.url }}">
          {{ 'blogs.article.read_recipe' | t }}
          {% if arrow_cta == true %}
          <span><img src="{{ 'arrow-menu.png' | asset_img_url }}" loading="lazy" alt="Read more" width="10" height="17" /></span>
          {% endif %}
        </a>
      </div>
    </div>
</article>
