<script type='text/javascript'>let shop ='murad-italia.myshopify.com'; let code = '386c598202f92cf9af9d72f484b742ada67bec8c';</script>﻿<!-- Start : BrokenLink Redirect -->
<script type="text/javascript">
window.fetch("https://api-brokenlinkmanager.giraffly.com/api/v1/receive_url?shop="+shop+"&code="+code+"&url="+window.location.pathname+window.location.search)
.then(response => response.json())
.then(data => {
  if(data.code == 200){
    window.location.href = data.data
  }
})
</script>
<!-- END : BrokenLink Redirect -->