<div class="filter-tabs-container">
  <div class="filter-tabs-wrapper large-container">
    <ul class="filter-tabs-list">
      {% for link in linklists.blogs.links %}
        {% assign blog = link.object %} 
        <li>
          <a href="{{ blog.url }}" {% if blog.url == request.path %}class="active"{% endif %}>{{ blog.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div> 
</div>