<div class="swiper-wrapper">
  {% for product in slider_products.products %}
    <div class="swiper-slide">
      {% render 'product-card',
        product_card_product: product,
        media_size: section.settings.image_ratio,
        show_secondary_image: section.settings.show_secondary_image,
        add_image_padding: section.settings.add_image_padding,
        show_vendor: section.settings.show_vendor,
        show_image_outline: section.settings.show_image_outline,
        show_rating: section.settings.show_rating
      %}
    </div>
  {% endfor %}
</div>

<div class="swiper-button-prev">
  <img src={{ settings.slider_arrow | img_url: 'master' }} alt="" />
</div>
<div class="swiper-button-next">
  <img src={{ settings.slider_arrow | img_url: 'master' }} alt="" />
</div>