{% comment %}
    Renders a product card

    Accepts:
    - product_card_product: {Object} Product Liquid object (optional)
    - media_size: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
    - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
    - add_image_padding: {Boolean} Enables padding on the image to space out the grid
    - show_vendor: {Boolean} Show the product vendor. Default: false
    - show_image_outline: {Boolean} Show card outline. Default: true (optional)
    - show_rating: {Boolean} Show the product rating. Default: false

    Usage:
    {% render 'product-card', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{{ 'component-rating.css' | asset_url | stylesheet_tag }}

<div class="product-card">
  {%- if product_card_product.featured_media -%}
      <div class="product-card__image">
        <a href="{{ product_card_product.url }}">
          <img
            srcset="{{ product_card_product.featured_media | img_url: '500x' }} 500w, {{ product_card_product.featured_media | img_url: '300x' }} 300w"
            src="{{ product_card_product.featured_media | img_url: '500x' }}"
            sizes="(max-width: 1024) 300px, 500px"
            alt="{{ product_card_product.featured_media.alt | escape }}"
            loading="lazy"
            class="motion-reduce"
            width="{{ product_card_product.featured_media.width }}"
            height="{{ product_card_product.featured_media.height }}"
          >
  
          {%- if product_card_product.media[1] != nil and show_secondary_image -%}
            <img
              srcset="{%- if product_card_product.media[1].width >= 165 -%}{{ product_card_product.media[1] | img_url: '165x' }} 165w,{%- endif -%}
                {%- if product_card_product.media[1].width >= 360 -%}{{ product_card_product.media[1] | img_url: '360x' }} 360w,{%- endif -%}
                {%- if product_card_product.media[1].width >= 533 -%}{{ product_card_product.media[1] | img_url: '533x' }} 533w,{%- endif -%}
                {%- if product_card_product.media[1].width >= 720 -%}{{ product_card_product.media[1] | img_url: '720x' }} 720w,{%- endif -%}
                {%- if product_card_product.media[1].width >= 940 -%}{{ product_card_product.media[1] | img_url: '940x' }} 940w,{%- endif -%}
                {%- if product_card_product.media[1].width >= 1066 -%}{{ product_card_product.media[1] | img_url: '1066x' }} 1066w,{%- endif -%}
                {{ product_card_product.media[1] | img_url: 'master' }} {{ product_card_product.media[1].width }}w"
              src="{{ product_card_product.media[1] | img_url: '533x' }}"
              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
              alt="{{ product_card_product.media[1].alt | escape }}"
              loading="lazy"
              class="motion-reduce hover-image"
            width="{{ product_card_product.media[1].width }}"
            height="{{ product_card_product.media[1].height }}"
            >
          {%- endif -%}
        </a>
      </div>
  {%- endif -%}

  <div class="product-card__details {% if card_alignment == true %}items-center{% endif %}">
      {% if show_vendor == true %}
        <div class="font-card-vendor">{{ product_card_product.vendor }}</div>
      {% endif %}

      <h3 class="card-information__text font-card-title">
        <a href="{{ product_card_product.url | default: '#' }}" class="full-unstyled-link">
          {{ product_card_product.title | escape }}
        </a>
      </h3>

      <div class="font-card-format"><strong>{{ product_card_product.metafields.my_fields.formato }}</strong></div>

      {% comment %} TODO: metafield {% endcomment %}
      <span class="caption-large light">{{ block.settings.description | escape }}</span>
      {%- if show_rating and product_card_product.metafields.reviews.rating.value != blank -%}
        {% liquid
          assign rating_decimal = 0 
          assign decimal = product_card_product.metafields.reviews.rating.value.rating | modulo: 1 
          if decimal >= 0.3 and decimal <= 0.7
            assign rating_decimal = 0.5
          elsif decimal > 0.7
            assign rating_decimal = 1
          endif 
        %}
        <div class="rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product_card_product.metafields.reviews.rating.value, rating_max: product_card_product.metafields.reviews.rating.value.scale_max }}">
          <span aria-hidden="true" class="rating-star color-icon-{{ settings.accent_icons }}" style="--rating: {{ product_card_product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product_card_product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"></span>
        </div>
        <p class="rating-text caption">
          <span aria-hidden="true">{{ product_card_product.metafields.reviews.rating.value }} / {{ product_card_product.metafields.reviews.rating.value.scale_max }}</span>
        </p>
        <p class="rating-count caption">
          <span aria-hidden="true">({{ product_card_product.metafields.reviews.rating_count }})</span>
          <span class="visually-hidden">{{ product_card_product.metafields.reviews.rating_count }} {{ "accessibility.total_reviews" | t }}</span>
        </p>
      {%- endif -%}

      <div class="card-price-wrapper">
        {% render 'price', product: product_card_product, price_class: '' %}
      </div>

      <div class="add-to-cart {% if add_to_cart_type == 'button' %}add-to-cart-button-type{% endif %}" id="addToCart_Product_{{ product_card_product.variants[0].id }}">
        <!-- {%- assign product_form_id = 'product-form-' | append: product_card_product.selected_or_first_available_variant.id -%} -->

        <!-- {%- form 'product', product_card_product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
          <input type="hidden" name="id" value="{{ product_card_product.selected_or_first_available_variant.id }}">

          <button class="button button--primary button--cart--icon">
            <img src="{{ 'cart-button-card.png' | asset_img_url: '50x' }}" />
          </button>
        {%- endform -%} -->
        {% if from_slider == true %}
          {% if add_to_cart_type == 'button' %}
            {% if product_card_product.available == true %}
              <button class="button button--primary w-full product__slider__addtocart" data-id="{{ product_card_product.variants[0].id }}">{{ 'products.product.add_to_cart' | t }}</button>
            {% else %} 
              <button class="button button--secondary w-full" disabled>{{ 'products.product.unavailable' | t }}</button>
            {% endif %}
          {% else %} 
            {% if product_card_product.available == true %}
              <button class="button button--primary button--cart--icon product__slider__addtocart" data-id="{{ product_card_product.variants[0].id }}">
                <img src="{{ 'cart-button-card.png' | asset_img_url }}" alt="Add to cart" width="50" height="50" />
              </button>
            {% else %}
              <button class="button button--secondary button--notavailable--icon">
                <img src={{ 'not-available.png' | asset_img_url }} alt="Not available" />
              </button>
            {% endif %}
          {% endif %}
        {% endif %}
      </div>
  </div>
</div>

<script>
  {% if from_slider != true %}
    window.CURRENT_PRODUCTS = window.CURRENT_PRODUCTS || {};
    window.CURRENT_PRODUCTS[{{ product_card_product.variants[0].id | json }}] = {
      available: {{ product_card_product.available | json }},
      addToCartButtonType: "{{ add_to_cart_type }}"
    }
  {% endif %}

  {% if from_slider == true %}
    document.addEventListener('DOMContentLoaded', function () {
      var sliderAddToCart = document.querySelectorAll('.product__slider__addtocart');

      sliderAddToCart.forEach(function (btn) {
        btn.addEventListener('click', function (e) {
          window.addToCart(1, this.dataset.id);
        });
      })
    })
  {% endif %}
</script>