{% if title != blank %}
<div class="section-title mb-8 {% if align == 'center' %}text-center{% elsif align == 'right' %}text-right{% else %}text-left{% endif %} {% if size == 'smaller' %}section-title-smaller{% endif %} {% if multiline == true %}section-title-multiline{% endif %} {% if no_uppercase == true %}section-title-nouppercase{% endif %}">
  <span>{{ title }}</span>
</div>
{% endif %}
{% if description != blank %}
<div class="section-description mb-8 {% if description_multiline == true %}section-description-multiline{% endif %} {% if align == 'center' %}text-center{% elsif align == 'right' %}text-right{% else %}text-left{% endif %}">
  <span>{{ description }}</span>
</div>
{% endif %}