{% assign black_image = settings.black_image_left %}
{% assign white_image = settings.white_image_left %}

{% if black_image != blank %} 
  <div class="section-background {% if align == 'left' %}section-background--left{% endif %}">
    <img src={{ black_image | img_url: '600x' }} alt="" loading="lazy" />
  </div>
{% elsif white_image != blank %}
  <div class="section-background {% if align == 'left' %}section-background--left{% endif %}">
    <img src={{ white_image | img_url: '600x' }} alt="" loading="lazy" />
  </div>
{% endif %}