<div class="slider-blog">
  <div class="slider-blog__container large-container relative">
    {% render 'section-title', title: slider_title, description: slider_description, align: slider_align, size: slider_size, multiline: slider_multiline, no_uppercase: true %}
    <div class="slider-blog__swiper swiper">
      <div class="swiper-wrapper">
        {% if slider_handle != '' %} 
          {% assign handles = slider_handle | split: ',' %}
          {% for handle in handles %}
            {% for blog in blogs[handle].articles limit: 9 %}
              <div class="swiper-slide">
                {%- render 'article-card', article: blog, category: handle, arrow_cta: slider_card_arrow -%}
              </div>
            {% endfor %}
          {% endfor %}
        {% endif %}
      </div>
        
      <div class="swiper-button-prev">
        <img src={{ settings.slider_arrow | img_url: 'master' }} alt="" loading="lazy" />
      </div>
      <div class="swiper-button-next">
        <img src={{ settings.slider_arrow | img_url: 'master' }} alt="" loading="lazy" />
      </div>
    </div>
  </div>
</div>

<script>
    var swiper = new Swiper('.slider-blog__swiper', {
    // Optional parameters
    slidesPerView: 1.2,
    spaceBetween: 16, 

    breakpoints: {
      // when window width is >= 480px
      480: {
        slidesPerView: 2.5,
      },
      // when window width is >= 640px
      1024: {
        slidesPerView: 4,
        spaceBetween: 40
      }
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>