<a href="{{ url }}" class="{{ class }}" >
  {% if image != blank %}
    <img src="{{ image | img_url: 'master' }}" alt="{{ type }}" loading="lazy" width="{{ image.width }}" height="{{ image.height }}" />
  {% else %} 
    {% assign placeholder = type %}
    <img src="{{ placeholder | append: '.png' | asset_img_url: '45x' }}" alt="{{ type }}" loading="lazy" width="45" height="45" />
  {% endif %}
  <span class="visually-hidden">{{ type }}</span> 
</a>