<ul class="footer__list-social list-unstyled list-social flex items-center lg:justify-end" role="list">
  {%- if settings.social_facebook_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_facebook_link }}" class="link list-social__link" >
        <!-- {%- render 'icon-facebook' -%} -->
        <img src="{{ 'FacebookLogo.png' | asset_img_url: '45x' }}" alt="Facebook" loading="lazy" />
        <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_instagram_link }}" class="link list-social__link" >
        <!-- {%- render 'icon-instagram' -%} -->
        <img src="{{ 'InstagramLogo.png' | asset_img_url: '45x' }}" alt="Instagram" loading="lazy" />
        <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span> 
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_youtube_link }}" class="link list-social__link" >
        <!-- {%- render 'icon-youtube' -%} -->
        <img src="{{ 'YoutubeLogo.png' | asset_img_url: '45x' }}" alt="Youtube" loading="lazy" />
        <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_linkedin_link != blank -%}
  <li class="list-social__item">
    <a href="{{ settings.social_linkedin_link }}" class="link list-social__link" >
      <!-- {%- render 'icon-youtube' -%} -->
      <img src="{{ 'linkedin-icon.png' | asset_img_url: '45x' }}" alt="Linkedin" loading="lazy" width="32" class="no-radius" />
      <span class="visually-hidden">{{ 'general.social.links.linkedin' | t }}</span>
    </a>
  </li>
{%- endif -%}
</ul>