<script defer="defer" src="{{ 'compiled.vendors-theme.6b9ec05116ff2293819c.js' | asset_url }}"></script><script defer="defer" src="{{ 'compiled.theme.f32e8af594320b20241b.js' | asset_url }}"></script>