// COLORS
$black: $color1;

$h1-font-size__desktop: 42px;
$h1-font-size__mobile: 43px;
$h1-line-height__desktop: 51px;
$h1-line-height__mobile: 52px;

$h2-font-size__desktop: 35px;
$h2-font-size__mobile: 35px;
$h2-line-height__desktop: 42px;
$h2-line-height__mobile: 42px;

$h3-font-size__desktop: 30px;
$h3-font-size__mobile: 24px;
$h3-line-height__desktop: 36px;
$h3-line-height__mobile: 29px;

$h4-font-size__desktop: 24px;
$h4-font-size__mobile: 20px;
$h4-line-height__desktop: 39px;
$h4-line-height__mobile: 24px;

$h5-font-size__desktop: 14px;
$h5-font-size__mobile: 16px;
$h5-line-height__desktop: 17px;
$h5-line-height__mobile: 19px;

// ******* MENU CONFIGS **********
$menu-item-link__color: $color1;
$menu-item__font-size__desktop: 16px;
$menu-item__font-size__mobile: 18px;

// HAMBURGER MENU
$hamburger-menu__menu-item-separator__color: $color1;
$hamburger-menu__menu-item__font-weight__firstLevel: 900;
$hamburger-menu__menu-item__font-weight__secondLevel: 700;
$hamburger-menu__menu-item__font-weight__thirdLevel: 400;
$hamburger-menu__menu-item__font-size__thirdLevel: 16px;

// HORIZONTAL MENU
$horizontal-menu__background: $color3;
$horizontal-menu__menu-item-separator__color: $color3;

// ******* FORMS **********
$button-secondary__hover-color: $color1;
$select-field__border-color: $color3;
$select-field__height: 35px;
$facets-disclosure__height: 35px;
$facets-disclosure__border-color: $color3;

// ******* PAGINATION **********
$pagination-item__current-background-color: $color1;
$pagination-item__current-text-color: $color5;
$pagination-item__border-radius: 0;

// ******* PRODUCT **********
$cardHeight__desktop: 616px;
$cardImageHeight__desktop: 360px;
$cardMinWidth__mobile: 163px;
$cardMaxWidth__mobile: 300px;
$cardHeight__mobile: 497px;
$cardImageHeight__mobile: 260px;

// ******* ARTICLE **********
$articleCard__width: 310px;
$articleCard__height: 457px;

// ******* SECTIONS **********
// $sectionTitle__fontWeight: $font-heading-weight;
$sectionTitle__fontSize__normal__desktop: 42px;
$sectionTitle__lineHeight__normal__desktop: 50px;
$sectionTitle__fontSize__normal__mobile: 42px;
$sectionTitle__lineHeight__normal__mobile: 50px;
$sectionTitle__fontSize__smaller__desktop: 42px;
$sectionTitle__lineHeight__smaller__desktop: 50px;
$sectionTitle__fontSize__smaller__mobile: 42px;
$sectionTitle__lineHeight__smaller__mobile: 50px;

#SortBy {
  option[value="created-ascending"],
  option[value="created-descending"],
  option[value="manual"],
  option[value="best-selling"] {
    display: none;
  }
}
