<script src="{{ 'customer.js' | asset_url }}" defer></script>

{%- paginate customer.addresses by 5 -%}
  <div class="customer addresses large-container" data-customer-addresses>
    <svg style="display: none">
      <symbol id="icon-caret" viewBox="0 0 10 6">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
      </symbol>
    </svg>
    <h1 class="mb-8">{{ 'customer.addresses.title' | t }}</h1>
    <a href="{{ routes.account_url }}" class="mb-8 primary-action">
      {{ 'customer.account.return' | t }}
    </a>

    <div data-address class="mt-8">
      <button
        type="button"
        aria-expanded="false"
        aria-controls="AddAddress"
        class="button button--primary button--big modal__open"
        data-modal="AddAddress"
      >
        {{ 'customer.addresses.add_new' | t }}
      </button>
      <div id="AddAddress" class="modal">
        <div class="modal__overlay"></div>
        <div class="modal__content">
          <h2 id="AddressNewHeading" class="mt-8 mb-24">{{ 'customer.addresses.add_new' | t }}</h2>
          {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
            <div class="field flex flex-wrap justify-center mb-8">
              <label class="label w-full text-left" for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
              <input class="input w-full no-max-width" type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
            </div>
            <div class="field flex flex-wrap justify-center mb-8">
              <label class="label w-full text-left" for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
              <input class="input w-full no-max-width" type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
            </div>
            <div class="field flex flex-wrap justify-center mb-8">
              <label class="label w-full text-left" for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
              <input class="input w-full no-max-width" type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
            </div>
            <div class="field flex flex-wrap justify-center mb-8">
              <label class="label w-full text-left" for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
              <input class="input w-full no-max-width" type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
            </div>
            <div class="field flex flex-wrap justify-center mb-8">
              <label class="label w-full text-left" for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
              <input class="input w-full no-max-width" type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
            </div>
            <div class="field flex flex-wrap justify-center mb-8">
              <label class="label w-full text-left" for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
              <input class="input w-full no-max-width" type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
            </div>
            <div class="field mb-8">
              <label class="label w-full text-left" for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
              <div class="select">
                <select
                  id="AddressCountryNew"
                  name="address[country]"
                  data-default="{{ form.country }}"
                  autocomplete="country"
                  class="input w-full no-max-width"
                >
                  {{ all_country_option_tags }}
                </select>
              </div>
            </div>
            <div id="AddressProvinceContainerNew" style="display: none" class="field mb-8">
              <label class="label w-full text-left" for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
              <div class="select">
                <select
                  id="AddressProvinceNew"
                  name="address[province]"
                  data-default="{{ form.province }}"
                  autocomplete="address-level1"
                  class="input w-full no-max-width"
                >
                </select>
              </div>
            </div>
            <div class="field flex flex-wrap justify-center mb-8">
              <label class="label w-full text-left" for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
              <input class="input w-full no-max-width" type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
            </div>
            <div class="field flex flex-wrap justify-center mb-8">
              <label class="label w-full text-left" for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
              <input class="input w-full no-max-width" type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
            </div>
            <div>
              {{ form.set_as_default_checkbox }}
              <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
            </div>
            <div>
              <button class="button button--primary button--big mt-24 w-full no-max-width">{{ 'customer.addresses.add' | t }}</button>
              <button type="reset" class="modal__close primary-action" data-modal="AddAddress">{{ 'customer.addresses.cancel' | t }}</button>
            </div>
          {%- endform -%}
        </div>
      </div>
    </div>

    <ul role="list" class="grid grid-cols-1 lg:grid-cols-2 mt-24 lg:mt-48 mb-24 lg:mb-48"> 
      {%- for address in customer.addresses -%}
        <li data-address class="flex flex-col mt-16 lg:mt-0">
          <div class="mb-8 p-4">
            {%- if address == customer.default_address -%}
              <h4 class="mb-8 uppercase">{{ 'customer.addresses.default' | t }}</h4>
            {%- endif -%}
            {{ address | format_address }}
          </div>
          <div class="flex flex-wrap lg:flex-nowrap mt-auto">
            <button
              type="button"
              id="EditFormButton_{{ address.id }}"
              aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
              aria-controls="EditAddress_{{ address.id }}"
              aria-expanded="false"
              data-address-id="{{ address.id }}"
              class="button button--primary button--medium modal__open"
              data-modal="EditAddress_{{ address.id }}"
            >
              {{ 'customer.addresses.edit' | t }}
            </button>
            <button
              type="button"
              aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
              data-target="{{ address.url }}"
              data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
              class="primary-action flex-1/2 lg:flex-0 mt-4 lg:flex-none lg:ml-12"
            >
              {{ 'customer.addresses.delete' | t }}
            </button>
          </div>
          <div id="EditAddress_{{ address.id }}" class="modal">
            <div class="modal__overlay"></div>
            <div class="modal__content">
              <h2 class="mt-8 mb-24">{{ 'customer.addresses.edit_address' | t }}</h2>
              {%- form 'customer_address', address -%}
                <div class="field flex flex-wrap justify-center mb-8">
                  <label class="label w-full text-left" for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                  <input class="input w-full no-max-width" type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
                </div>
                <div class="field flex flex-wrap justify-center mb-8eld">
                  <label class="label w-full text-left" for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                  <input class="input w-full no-max-width" type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
                </div>
                <div class="field flex flex-wrap justify-center mb-8">
                  <label class="label w-full text-left" for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                  <input class="input w-full no-max-width" type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
                </div>
                <div class="field flex flex-wrap justify-center mb-8">
                  <label class="label w-full text-left" for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                  <input class="input w-full no-max-width" type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
                </div>
                <div class="field flex flex-wrap justify-center mb-8">
                  <label class="label w-full text-left" for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                  <input class="input w-full no-max-width" type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
                </div>
                <div class="field flex flex-wrap justify-center mb-8">
                  <label class="label w-full text-left" for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                  <input class="input w-full no-max-width" type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
                </div>
                <div class="field mb-8">
                  <label class="label w-full text-left" for="AddressCountry_{{ form.id }}">
                    {{ 'customer.addresses.country' | t }}
                  </label>
                  <div class="select">
                    <select
                      id="AddressCountry_{{ form.id }}"
                      name="address[country]"
                      data-address-country-select
                      data-default="{{ form.country }}"
                      data-form-id="{{ form.id }}"
                      autocomplete="country"
                      class="input w-full no-max-width"

                    >
                      {{ all_country_option_tags }}
                    </select>
                  </div>
                </div>
                <div id="AddressProvinceContainer_{{ form.id }}" style="display:none;" class="field mb-8">
                  <label class="label w-full text-left" for="AddressProvince_{{ form.id }}">
                    {{ 'customer.addresses.province' | t }}
                  </label>
                  <div class="select">
                    <select
                      id="AddressProvince_{{ form.id }}"
                      name="address[province]"
                      data-default="{{ form.province }}"
                      autocomplete="address-level1"
                    class="input w-full no-max-width"

                    >
                    </select>
                  </div>
                </div>
                <div class="field flex flex-wrap justify-center mb-8">
                  <label class="label w-full text-left" for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                  <input class="input w-full no-max-width" type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
                </div>
                <div class="field flex flex-wrap justify-center mb-8">
                  <label class="label w-full text-left" for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                  <input class="input w-full no-max-width" type="tel" id="AddressPhone_{{ form.id }}"  name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
                </div>
                <div>
                  {{ form.set_as_default_checkbox }}
                  <label for="address_default_address_{{ form.id }}">
                    {{ 'customer.addresses.set_default' | t }}
                  </label>
                </div>
                <div>
                  <button class="button button--primary button--big mt-24 w-full no-max-width">{{ 'customer.addresses.update' | t }}</button>
                  <button type="reset" class="modal__close primary-action" data-modal="EditAddress_{{ address.id }}">{{ 'customer.addresses.cancel' | t }}</button>
                </div>
              {%- endform -%}
            </div>
          </div>
        </li>
      {%- endfor -%}
    </ul>

    {%- if paginate.pages > 1 -%}
      {%- if paginate.parts.size > 0 -%}
          <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
            <ul role="list">
            {%- if paginate.previous -%}
              <li>
                <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                  <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                  </svg>
                </a>
              </li>
            {%- endif -%}

            {%- for part in paginate.parts -%}
              <li>
                {%- if part.is_link -%}
                  <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
                {%- else -%}
                  {%- if part.title == paginate.current_page -%}
                    <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
                  {%- else -%}
                    <span>{{ part.title }}</span>
                  {%- endif -%}
                {%- endif -%}
              </li>
            {%- endfor -%}

            {%- if paginate.next -%}
              <li>
                <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}" >
                  <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                  </svg>
                </a>
              </li>
            {%- endif -%}
            </ul>
          </nav>
      {%- endif -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

<script>
  window.onload = () => {
    typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
  }
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var closeButtons = document.querySelectorAll('.modal__close')
    var openButtons = document.querySelectorAll('.modal__open')

    closeButtons.forEach(function (c) {
      c.addEventListener('click', function () {
        var modalId = this.dataset.modal
        document.getElementById(modalId).classList.remove('opened')
        document.body.style.overflowY = 'auto'
      })
    })

    openButtons.forEach(function (c) {
      c.addEventListener('click', function () {
        var modalId = this.dataset.modal
        document.getElementById(modalId).classList.add('opened')
        document.body.style.overflowY = 'hidden'
      })
    })
  })
</script>
