<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <!-- {%- if settings.cookie_bot != blank -%}
      <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="{{ settings.cookie_bot }}" data-blockingmode="auto" type="text/javascript"></script>
    {%- endif -%} -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    {{ content_for_header }}

    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
      assign body_font_300 = body_font_bold | font_modify: 'weight', '300'
      assign body_font_900 = body_font_bold | font_modify: 'weight', '900'

      assign header_font_400 = settings.type_header_font | font_modify: 'weight', '400' 
      assign header_font_900 = settings.type_header_font | font_modify: 'weight', '900' 
    %}

    {% style %}
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ body_font_300 | font_face: font_display: 'swap' }}
      {{ body_font_900 | font_face: font_display: 'swap' }}

      {{ settings.type_header_font | font_face: font_display: 'swap' }}
      {{ header_font_400 | font_face: font_display: 'swap' }}
      {{ header_font_900 | font_face: font_display: 'swap' }}

      :root {
        --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};
        --font-body-color: {{ settings.type_body_font.color }};

        --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.type_header_font.weight }};
        --font-heading-color: {{ settings.type_header_font.color }};

        --primary-color: {{ settings.colors_primary }};
        --text-primary-button-color: {{ settings.colors_primary_primary_button_text_color }};
        --secondary-color: {{ settings.colors_secondary }};
        --text-secondary-button-color: {{ settings.colors_secondary_button_text_color }};
        --action-color: {{ settings.colors_action }};
        --error-color: {{ settings.colors_error }};



        --font-color-positive: {{ settings.colors_font_positive }};
        --font-color-negative: {{ settings.colors_font_negative }};

        --color1: {{ settings.color1 }};
        --color2: {{ settings.color2 }};
        --color3: {{ settings.color3 }};
        --color4: {{ settings.color4 }};
        --color5: {{ settings.color5 }};
        --color6: {{ settings.color6 }};
        --color7: {{ settings.color7 }};

        --button-primary-color-bkg: {{ settings.button_primary_color_bkg }};
        --button-primary-color-text: {{ settings.button_primary_color_text }};
        --button-secondary-color-bkg: {{ settings.button_secondary_color_bkg }};
        --button-secondary-color-text: {{ settings.button_secondary_color_text }};
        --action-color-text: {{ settings.action_color_text }};
        --button-radius: {{ settings.button_radius }};

        --negative-background-color: {{ settings.colors_negative_bkg_color }};
        --positive-background-color: {{ settings.colors_positive_bkg_color }};

        

        --background-image-left: {{ settings.background_image_left }};
        --background-image-right: {{ settings.background_image_right }};
        --large-vertical-space: {{ settings.lg_vertical_space }};
        --medium-vertical-space: {{ settings.md_vertical_space }};

        --radius-images: {{ settings.radius_images }};
        --radius-card: {{ settings.radius_card }};
        --radius-input: {{ settings.radius_input }};
      }

      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        box-sizing: border-box;
        font-size: 62.5%;
        height: 100%;
      }

      body {
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 100%;
        min-height: 100%;
        margin: 0;
        font-size: 1.5rem;
        letter-spacing: 0.06rem;
        line-height: 1.8;
        font-family: var(--font-body-family);
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight);
      }

      @media screen and (min-width: 750px) {
        body {
          font-size: 1.6rem;
        }
      }
    {% endstyle %}

    {%- render 'webpack-tags-theme-css' -%}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- if settings.predictive_search_enabled -%}
      <link rel="stylesheet" href="{{ 'component-predictive-search.css' | asset_url }}" media="print" onload="this.media='all'">
    {%- endif -%}

    {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
    {{ 'swiper-bundle.min.js' | asset_url | script_tag }}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
   
    {%- render 'webpack-tags-theme-js' -%}
  </head>

  <body class="gradient">
    {% render 'dummy' %} 

    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ "accessibility.skip_to_text" | t }}
    </a>

    {% section 'announcement-bar' %}
    {% section 'header' %}
    {% section 'menu' %}
    {% section 'predictive-search-autocomplete' %}

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {% render 'breadcrumbs' %}
      {{ content_for_layout }}
    </main>

    {% section 'minicart' %}

    <div id="addToCartNotify">{{ 'templates.cart.product_added' | t }}</div> 

    {% section 'footer' %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
    </ul>

    <script>
      window.routes = {
        cart_url: "{{ routes.cart_url }}",
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t }}`
      }

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
      }

      window.accessibilityStrings = {
        shareSuccess: `{{ 'general.share.success_message' | t }}`,
      }

      window.THEME_CONFIGS = {
        settings: {
          breakpoints: {
            'sm': 640,
            'md': 768,
            'mde': 769,
            'lg': 1024,
            'xl': 1280,
            '2xl': 1536
          },
          mobileBreakpoint: 1023,
          {% if settings.free_shipping_threshold != blank %}
            freeShippingThreshold: "{{ settings.free_shipping_threshold }}"
          {% endif %}
        },
        translations: {
          sections: {
            categoryThreeCol: {
              sectionTitle: `{{ 'sections.category_three_col.section_title' | t }}`
            },
            cart: {
              checkout: `{{ 'sections.cart.checkout' | t }}`,
              goToCart: `{{ 'sections.cart.go_to_cart' | t }}`,
              subtotal: `{{ 'sections.cart.subtotal' | t }}`,
              shippingCost: `{{ 'sections.cart.shippingCost' | t }}`
            },
            menu: { 
              socialHeading: `{{ 'sections.menu.social_heading' | t }}`
            }
          },
          products: {
            product: {
              share: `{{ 'products.product.share' | t }}`,
              addToCart: `{{ 'products.product.add_to_cart' | t }}`,
              description: `{{ 'products.product.description' | t }}`,
              nutrition_facts: `{{ 'products.product.nutrition_facts' | t }}`,
              ingredients: `{{ 'products.product.ingredients' | t }}`,
              certifications: `{{ 'products.product.certifications' | t }}`,
              unavailable: `{{ 'products.product.unavailable' | t }}`
            }
          },
          blogs: {
            article: {
              share: `{{ 'blogs.article.share' | t }}`
            }
          },
          templates: {
            cart: {
              cart: `{{ 'templates.cart.cart' | t }}`
            }
          }
        }
      }

      window.CART_DATA = {{ cart | json }};

      var Spotview = Spotview || {};

      Spotview.formatMoney = function(cents, format) {
        if (typeof cents == 'string') { cents = cents.replace('.',''); }
        var value = '';
        var placeholderRegex = /\{\{\s*(\w+)\s*\}\}/;
        var formatString = (format || {{ shop.money_format | json }});

        function defaultOption(opt, def) {
          return (typeof opt == 'undefined' ? def : opt);
        }

        function formatWithDelimiters(number, precision, thousands, decimal) {
          precision = defaultOption(precision, 2);
          thousands = defaultOption(thousands, ',');
          decimal   = defaultOption(decimal, '.');

          if (isNaN(number) || number == null) { return 0; }

          number = (number/100.0).toFixed(precision);

          var parts   = number.split('.'),
              dollars = parts[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1' + thousands),
              cents   = parts[1] ? (decimal + parts[1]) : '';

          return dollars + cents;
        }

        switch(formatString.match(placeholderRegex)[1]) {
          case 'amount':
            value = formatWithDelimiters(cents, 2);
            break;
          case 'amount_no_decimals':
            value = formatWithDelimiters(cents, 0);
            break;
          case 'amount_with_comma_separator':
            value = formatWithDelimiters(cents, 2, '.', ',');
            break;
          case 'amount_no_decimals_with_comma_separator':
            value = formatWithDelimiters(cents, 0, '.', ',');
            break;
        }

        return formatString.replace(placeholderRegex, value);
      };
    </script>

    {%- if settings.predictive_search_enabled -%}
      <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
  </body>
</html>
