.category-three-col {
  position: relative;

  .category-three-col__cards {

    .category-three-col__card {
      min-width: 240px;
      height: 414px;
      max-width: 525px;
      width: 100%;
      margin: 0 auto;
      border: 1px solid $light-grey;
      border-radius: $radius-card;
      position: relative;
      display: flex;
      background-color: $white;

      .category-three-col__background {
        position: absolute;
        width: 100%;
        height: 265px;

        img {
          width: 100%; 
          height: 100%;
          object-fit: cover;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }  

      .category-three-col__details {
        height: calc(100% - 285px);
        width: 100%;
        align-self: end;
        position: relative;
        margin-top: auto;
      }

      .category-three-col__title {
        font-family: $font-heading-family;
        font-weight: 600;
        color: $font-heading-color;
        font-size: 24px;
        padding: 0 16px; 
      }

      .category-three-col__cta {
        text-align: center;
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 20px 16px;
      }
    }
  }
}