.component-product-video__wrapper {
  .video-wrapper {
    position: relative;

    &.clicked {
      .preview-image, .button--video {
        display: none;
      }
    }

    .preview-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .button--video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      cursor: pointer;

      &:after {
        margin-left: 80px;
      }
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .component-product-video__wrapper {
    .video-wrapper {
      .button--video {
        &:after {
          margin-left: unset;
        }
      }
    }
  }
}