.component-product-claim__wrapper {
  p {
    font-family: $font-heading-family;
    font-size: 43px;
    text-align: center;
    line-height: 53px; 
  }
}

@media (max-width: $mobile-breakpoint) {
  .component-product-claim__wrapper {
    p {
      font-size: 24px;
      text-align: center;
      line-height: 42px;
    }
  }
}