.component-product-text-with-image__wrapper {
  h2 {
    font-family: $font-heading-family;
    font-size: 42px;
    color: $color1;
    line-height: 50px;
  }

  p {
    font-size: 18px;
    color: $color1;
    line-height: 27px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .component-product-text-with-image__wrapper {
    h2 {
      font-family: $font-heading-family;
      font-size: 35px;
      line-height: 45px;
    }
  }
}