.component-product-three-col__wrapper {
  h3 {
    font-family: $font-heading-family;
    font-size: 28.13px;
    color: $font-color-positive;
    text-align: center;
    font-weight: 700;
  }

  p {
    font-family: $font-body-family;
    font-size: 18px;
    color: $font-color-positive;
    font-weight: 400;
    text-align: center;
    line-height: 27px;
  }
}