.filter-tabs-container {
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  margin: 64px 0;

  .filter-tabs-wrapper {
    .filter-tabs-list {
      padding: 25px 0;
    }
  
    ul {
      list-style: none;
      display: flex; 
      flex-wrap: wrap;
      justify-content: space-around;
  
      li {
        flex: 0 0 auto;
        margin-bottom: 30px;
  
        a {
          font-family: $font-body-family;
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;
          color: $black;
          padding: 2px 8px;
          border-bottom: 3px solid $black;
          white-space: nowrap;
  
          &:hover { 
            border-bottom: 3px solid $yellow;
          }
        }
  
        a.active {
          border-bottom: 3px solid $yellow;
        }
      }
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .filter-tabs-container {
    .filter-tabs-list {
        display: block;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
          display: none;
        }

        flex-wrap: nowrap !important;

        li {
          margin-right: 24px;
          margin-bottom: 0 !important;
        }
    }
  }
}