.full-width-image {
  &.fullscreen {
    min-height: 512px;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;

    img {
      object-position: center;
      max-height: unset;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .full-width-image__content {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 648px;
      padding: 64px 16px;
    }
  }
}