.image-with-text {
  .image-with-text__grid {
    overflow: auto;
  }
  
  .image-with-text__media {
    height: 0;
  }

  .image-with-text__content {
    padding: 0;
  }
}

@media (max-width: $mobile-breakpoint) {
  .image-with-text {
    .image-with-text__content {
      margin-top: 16px;
      height: auto;
    }
  }
}