#ajax-cart {
  transform: translateX(100%); 
  width: 100vw; 
  position: fixed; 
  z-index: 99999999999999; 
  right: 0 !important; 
  height: 100vh; 
  top: 0; 
  overflow: hidden; 
  transition: all .3s ease-in-out;
  background: rgba(35,31,32,0.60);

  .ajax-cart-drawer {
    width: 382px;
    margin-left: auto;
    height: 100vh; 
    background: $white; 
    box-shadow: 1px 1px 10px rgba(0,0,0,.2); 
    position: relative;
  }
  // &:before {
  //   content: '';
  //   width: calc(100vw - 382px);
  //   height: 100vh;
  //   position: absolute;
  //   top: 0;
  //   right: 382px;
  //   z-index: -1;
  // }

  .js-ajax-cart-drawer-close { 
    position: absolute; 
    left: 24px; 
    color: $black; 
    font-size: 30px; 
    top: 50%; 
    transform: translateY(-50%); 
    cursor: pointer; 
  }

  .ajax-cart-drawer__buttons { position: absolute; bottom: 0; border-top: 1px solid rgba(0,0,0,.15); padding-top: 20px; }
  &.is-open { transform: translateX(0) !important; }
  .cart__footer-final-total > div { flex-grow: unset !important; flex-basis: unset !important; padding-top: 4px; padding-bottom: 4px; display: flex; }
  .cart__footer-final-total > div > div { flex: 1; }
  .cart__footer-final-total > div > div:not(:last-child) { text-align: left; }
  .js-ajax-cart-drawer .row.cart__item {border-bottom: 1px solid rgba(0,0,0,.15); }

  .ajax-cart-drawer__buttons {
    background: $white;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    z-index: 9999999999;
  }

  .drawer-shipping {
    display: flex; 
    justify-content: center; 
    background-color: $black;
    color: $white;
    font-family: $font-body-family;
    font-size: 12px;
    font-weight: 700;
    padding-top: 10px; 
    padding-bottom: 10px;
    height: 42px;

    &.negative-section {
      .icon-free-shipping {
        width: 25px;
        margin-left: 10px;
    
        .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
      }
    }
  
    &.positive-section {
      .icon-free-shipping {
        width: 25px;
        margin-left: 10px; 
    
        .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#000;}
      }
    }
  }

  .ajax-cart-drawer__header__title {
    text-align: center;
    background-color: $white;
    color: $black;
    padding: 24px 0;
    text-transform: uppercase;
    font-size: 23.44px;
    font-weight: 700;
  }

  .row.cart__item {
    min-height: 180px;
    position: relative;
  }

  .cart__item-delete {
    position: absolute;
    top: 0;
    right: 0;
  } 

  .cart__item-image {
    max-width: 110px;
    height: 110px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .cart__item-details {
    padding-left: 10px;

    .cart__item-vendor {
      font-family: $font-body-family;
      font-size: 11px;
      color: $black;
      letter-spacing: 1.5px;
      font-weight: 300;
      text-transform: uppercase;
    }

    .cart__item-title {
      font-family: $font-heading-family;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
    }
  }

  .ajax-cart__subtotal {
    .ajax-cart__subtotal-label {
      font-family: $font-body-family;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-size: 18px;
      font-weight: 300;
    }

    .ajax-cart__subtotal-price {
      font-family: $font-body-family;
      font-size: 18px;
      font-weight: 700;
      text-align: right;
    }
  }

  .cart__item-price-per-item {
    margin-left: 20px;
    white-space: nowrap;

    .compareAtPrice-container {
      display: flex;

      .compare-at-price {
        text-decoration: line-through;
        font-size: 18px;
        color: #6b6b6a;
      }

      .discount {
        font-size: 18px;
        font-weight: 700;
        color: #b80072;
        margin-left: 10px;
      }
    }

    .price-per-item {
      font-size: 22px;
      color: #000;
      font-weight: 700;
    }
  }

  .cart__item-title-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 85%;

    & > * {
      flex: 1 0 100%;
      align-items: flex-start;
    }
  }

  .cart__item-quantity {
    margin-top: auto;
    margin-bottom: 20px;
  }

  .cart__item-total {
    justify-content: space-between;

    .cart__item-remove {
      position: relative;
      left: 0;
      top: 0;
      right: 0;
    }
  }

  .minicart-quantity__controls {
    .minicart-quantity__button {
      width: 20px;
      height: 20px;
      background-color: $black;
      color: $white;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
    } 

    &.quantity_selector_type_invert {
      .minicart-quantity__button {
        background-color: $white;
        color: $color1;
      }
    }

    .minicart-quantity__input {
      font-size: 16px;
      font-family: $font-body-family; 
      font-weight: 700;
      width: 45px; 
      border: 0;
      text-align: center;
    }
  }

  .product__price-container {
    margin-top: 30px;
    margin-bottom: 10px;

    .product__compare-price {
      font-size: 14px;
    }

    .product__price {
      font-size: 14px;
      font-weight: 400;
    }
  }

  .cart__item-price_container {
    .cart__discount-allocations { 
      margin-bottom: 10px;
      text-align: right;

      & > * {
        margin-bottom: 5px;
      }
    }

    .cart__item-variant-price {
      font-size: 18px;
      font-family: $font-body-family;
      font-weight: 700;
    }

    .cart__item-discount_percentage {
      font-size: 20px;
      font-weight: 700;
      color: #b80072;
      position: relative;
      top: 0;
      margin: 0;
      order: 1;
    }

    .cart__item-variant-price-was {
      text-decoration: line-through;
      font-size: 20px;
      color: #6b6b6a;
      position: relative;
      left: 0;
      top: 0;
      order: 0;
      margin: 0;
    }

    .cart__item__discount-container {
      display: flex;  
      justify-content: flex-end;
    }
  }

  .pl-image {
    display: none !important;
  }

  .cart__item-delete {
    cursor: pointer;
  }

}