.hs-form {
  .input {
    border: none !important;
    height: auto;
    line-height: normal;
    padding: initial;
    max-width: none;
  }

  .hs_email {
    input {
      background-color: $white;
      border: 2px solid $light-grey !important;
      border-radius: $radius-input;
      width: 100%;
      transition: all 0.8s ease-in-out;
      max-width: $input_max_width;
      color: $black;
      padding: $input_padding;
      height: 50px;
      line-height: 50px;
      font-family: $font-body-family;
    }
  }

  .legal-consent-container {
    margin: 20px 0;

    p {
      text-transform: none;
      font-size: 14px;
    }

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        text-decoration: underline;
        font-weight: 700;
      }
    }
  }

  input[type="submit"] {
    max-width: $button_max_width;
    height: $button_height;
    padding: 0 $button_padding;
    background-color: $button-primary-color-bkg;
    color: $button-primary-color-text;
    line-height: $button_height;
    min-width: $button-min-width__medium;

    @media (max-width: $mobile-breakpoint) {
      min-width: 100%;
    }

    &:hover {
      box-shadow: 0 14px 30px -10px rgba(26, 21, 0, 0.5);
    }
  }
}
