.product-recommendations {
  .product-recommendations__container {
    .product-recommendations__swiper {
      position: relative;

      // .swiper-wrapper {
      //   padding: 0px 20px;
      // }

      .swiper-button-prev, .swiper-button-next {
        width: 48px;

        img {
          width: 100%;
        }

        &::after, &::before {
          content: unset;
        }
      }

      .swiper-button-prev {
        transform: rotate(180deg);
      }
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .product-recommendations {
    .product-recommendations__container {
      // padding: 0;
      padding-right: 0 !important;
      
      .swiper-wrapper {
        padding: 0;
      }

      .swiper-button-prev, .swiper-button-next {
        display: none;
      }
    }
  }
}