.slider-fullscreen {
  position: relative;
  // margin-top: -35px;

  &.shrinked {
    margin-top: -$header-height-shrinked;
  }

  .slider-fullscreen__controls {
    position: absolute;
    width: 100%;
    bottom: 23px;
    z-index: 1;

    .carousel__dot-group {
      text-align: center;

      .carousel__dot {
        width: 19px;
        height: 6px;
        border-radius: 3px;
        background-color: $white;
        margin-right: 8px;

        &.carousel__dot--selected {
          background-color: $action-color-text;
        }
      }
    }
  }

  .slider-fullscreen__image {
    width: 100vw;
    height: calc(100vh - $header-height-desktop);

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  .slider-fullscreen__content {
    position: relative;

    .slider-fullscreen__info {
      position: absolute;
      bottom: 180px;
      left: 0;
      z-index: 1;
      width: 100%;
      color: $white;
    }
  }

  .carousel__slider {
    outline: none !important;
  }
}

@media (max-width: $mobile-breakpoint) {
  .slider-fullscreen {
    margin-top: calc(-114px + 61px);

    .slider-fullscreen__image {
      height: calc(100vh - $header-height-mobile - 61px);
      min-height: 650px;
    }

    .slider-fullscreen__content {
      .slider-fullscreen__info {
        bottom: 100px;
      }
    }
  }
}
