.slider-blog {
  .slider-blog__container {
    margin-top: 100px;
    margin-bottom: 100px;
  
    .slider-blog__swiper {
      position: relative;

      // .swiper-wrapper {
      //   padding: 0px 20px;
      // }

      .swiper-button-prev, .swiper-button-next {
        width: 48px;

        img {
          width: 100%;
        }

        &::after, &::before {
          content: unset;
        }
      }

      .swiper-button-prev {
        transform: rotate(180deg);
      }
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .slider-blog {
    .slider-blog__container{
      // padding: 0;
      padding-right: 0;
      
      .swiper-wrapper {
        padding: 0;
      }

      .swiper-button-prev, .swiper-button-next {
        display: none;
      }
    }
  }
}