.accordion {
  padding: 30px 0;
  border-bottom: 1px solid $dark-grey;

  .accordion-title {
    position: relative;
    font-family: $font-heading-family;
    font-size: 35.16px;
    font-weight: 700;
    color: $black;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }

  .accordion-content {
    padding-top: 20px;
    font-family: $font-body-family;
    white-space: pre-wrap;
  }
}

@media (max-width: $mobile-breakpoint) {
  .accordion {
    .accordion-title {
      font-size: 23px;
    }
  }
}
