.breadcrumbs {
  a {
    font-family: $font-heading-family;
    font-size: 14px;
    letter-spacing: 0.67px;
    font-weight: 400;
    text-transform: uppercase;

  }
  
  margin-top: 15px;
  margin-bottom: 60px;
}

.breadcrumbs__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs__item {
  display: inline-block;

  &:last-child {
    a {
      font-weight: 900;
    }
  }
}

.breadcrumbs__item:not(:last-child):after {
  content: '/';
  display: inline-block;
  margin-right: 7px;
  margin-left: 4px;
}

.breadcrumbs__link[aria-current="page"] {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
}