.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 30;

  &.opened {
    display: block;
  }

  .modal__overlay {
    background: rgba(35,31,32,0.60);
    width: 100%;
    height: 100%;
  }

  .modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $white;
    padding: 40px;
    max-width: 90%;
    max-height: 80%;
    overflow: auto;
  }

  .modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .modal {
    .modal__content {
      width: 90%;
    }
  }
}