.rich-text {
  color: $font-body-color;
  table {
    width: 100%;

    td {
      text-align: center;
    }
  }
}

.rte {
  h2 {
    font-size: 35.16px;
    color: $font-heading-color;
    font-family: $font-heading-family;
    font-weight: 700;
    margin-bottom: 14px; 
  }

  p, ul {
    font-family: $font-body-family;
    color: $font-body-color;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 32px;
  }
}

.big-paragraph {
  .rte {
    p {
      font-size: 35px;
      line-height: 43px;
      font-family: $font-heading-family;
    }
  }
}