.section-title {
  span {
    font-family: $font-heading-family;
    font-size: $sectionTitle__fontSize__normal__desktop;
    text-transform: uppercase;
    line-height: $sectionTitle__lineHeight__normal__desktop;
    color: $black;
    font-weight: $sectionTitle__fontWeight;
  }

  &.section-title-nouppercase {
    span {
      text-transform: none;
    }
  }

  &.section-title-smaller {
    span {
      font-size: $sectionTitle__fontSize__smaller__desktop;
      line-height: $sectionTitle__lineHeight__smaller__desktop;
    }
  }

  &.section-title-multiline {
    span {
      display: inline-block;
      width: 35%;
    }
  }
}

.section-description {
  font-family: $font-body-family;
  text-transform: none;

  &.section-description-multiline {
    span {
      display: inline-block;
      width: 100%;
    }
    p {
      white-space: pre-wrap;
    }
  }
}

.section-background {
  position: absolute;
  top: -50px;
  right: 0;
  z-index: -1;
  height: calc(100% + 100px);

  &--left {
    left: 0;
  }

  img {
    height: 100%;
  }
}

@media (max-width: $mobile-breakpoint) {
  .section-background {
    display: none;
  }

  .section-title {
    span {
      font-size: $sectionTitle__fontSize__normal__mobile;
      line-height: $sectionTitle__lineHeight__normal__mobile;
    }

    &.section-title-multiline {
      span {
        width: 100%;
      }
    }

    &.section-title-smaller {
      span {
        font-size: $sectionTitle__fontSize__smaller__mobile;
        line-height: $sectionTitle__lineHeight__smaller__mobile;
      }
    }
  }

  .section-description {
    &.section-description-multiline {
      span {
        width: 100%;
      }
    }
  }
}
