<div id="accordionWrapper"></div>

<script>
    window.ACCORDION_DETAILS = {};
    window.ACCORDION_DETAILS.accordion_sections = [];
		const unorderedSections = []
		const orderedSections = []
		let availablePositions = [1, 2, 3, 4, 5, 6, 7]

		const analyzeSection = (sectionTitle, sectionContent, sectionOrder, hasIcons = false) => {
			if (sectionOrder) {
				orderedSections.push(		
					{
						hasIcons,
						title: sectionTitle,
						content: sectionContent,
						order: sectionOrder
					}
				)
				return
			}

			unorderedSections.push(
				{
					hasIcons,
					title: sectionTitle,
					content: sectionContent,
				}
			)
		}

    {% if product.description %}
        window.ACCORDION_DETAILS.description = {{ product.description | json }}
    {% endif %}

    {% if product.metafields.my_fields.accordion1_title != blank and product.metafields.my_fields.accordion1_content %}			
			analyzeSection(
				{{ product.metafields.my_fields.accordion1_title.value | json }}, 
				{{ product.metafields.my_fields.accordion1_content.value | json }}, 
				{{ product.metafields.my_fields.accordion1_order.value | json }})	
    {% endif %}
    
    {% if product.metafields.my_fields.accordion2_title and product.metafields.my_fields.accordion2_content %}
			analyzeSection(
				{{ product.metafields.my_fields.accordion2_title.value | json }}, 
				{{ product.metafields.my_fields.accordion2_content.value | json }}, 
				{{ product.metafields.my_fields.accordion2_order.value | json }})	
    {% endif %}
    
    {% if product.metafields.my_fields.accordion3_title and product.metafields.my_fields.accordion3_content %}
			analyzeSection(
				{{ product.metafields.my_fields.accordion3_title.value | json }}, 
				{{ product.metafields.my_fields.accordion3_content.value | json }}, 
				{{ product.metafields.my_fields.accordion3_order.value | json }})	
    {% endif %}
    
    {% if product.metafields.my_fields.accordion4_title and product.metafields.my_fields.accordion4_content %}			
		analyzeSection(
			{{ product.metafields.my_fields.accordion4_title.value | json }}, 
			{{ product.metafields.my_fields.accordion4_content.value | json }}, 
			{{ product.metafields.my_fields.accordion4_order.value | json }})	
	{% endif %}
    
    {% if product.metafields.my_fields.accordion5_title and product.metafields.my_fields.accordion5_content %}
			analyzeSection(
				{{ product.metafields.my_fields.accordion5_title.value | json }}, 
				{{ product.metafields.my_fields.accordion5_content.value | json }}, 
				{{ product.metafields.my_fields.accordion5_order.value | json }})	
		{% endif %}
    
		{% if product.metafields.my_fields.accordion6_title and product.metafields.my_fields.accordion6_content %}
			analyzeSection(
				{{ product.metafields.my_fields.accordion6_title.value | json }}, 
				{{ product.metafields.my_fields.accordion6_content.value | json }}, 
				{{ product.metafields.my_fields.accordion6_order.value | json }})	
		{% endif %}

		{% if product.metafields.my_fields.accordion7_title and product.metafields.my_fields.accordion7_content %}
			{% assign accordion7_content = product.metafields.my_fields.accordion7_content.value %}
			const content = []
			{% for part in accordion7_content %}
        content.push({
          label: "{{ part.label }}",
          icon: "{{ part.icon | file_img_url: 'grande' }}"
        });
      {% endfor %}

			analyzeSection(
				{{ product.metafields.my_fields.accordion7_title.value | json }}, 
				content, 
				{{ product.metafields.my_fields.accordion7_order.value | json }},
				true	
			)	
		{% endif %}

		// First I need to iterate the sections that have an explicit order, since their position is "reserved"
		orderedSections.forEach(section => {
			availablePositions = availablePositions.filter(position => position !== section.order)
			window.ACCORDION_DETAILS.accordion_sections.push(section)
		})

		// Then I iterate the ones that have no order and give them the remaining positions in order
		unorderedSections.forEach(section => {
			const order = availablePositions.shift()
			window.ACCORDION_DETAILS.accordion_sections.push({
				...section,
				order
			})
		})

		// Sort everything based on the position assigned
		window.ACCORDION_DETAILS.accordion_sections.sort((firstSection, secondSection) => {
				if ( firstSection.order < secondSection.order ) return -1
				if ( firstSection.order > secondSection.order ) return 1
				return 0
			}
		)
</script>

<script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "description": {{ product.description | strip_html | json }},
    }
</script>

{% schema %}
{
  "name": "Accordion"
}
{% endschema %}