<div class="announcement-bar {{ section.settings.color_scheme }}-section" role="region" aria-label="{{ 'sections.header.announcement' | t }}" id="announcementBar" {% if section.settings.specific_color != blank %}style="background-color: {{ section.settings.specific_color }};"{% endif %}>
  <div class="large-container">
    <div class="grid grid-cols-1 lg:grid-cols-3 announcement-bar__scroller">
      {%- for block in section.blocks -%}
        {% assign mod = forloop.index | modulo: 3 %}
        {%- case block.type -%}
          {%- when 'announcement' -%}
            {%- if block.settings.text != blank -%}
              {%- if block.settings.link != blank -%}
                <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow ">
              {%- endif -%}
                  <div class="announcement-bar__message">
                    <div class="flex items-center justify-center {% if mod == 1 %}lg:justify-start{% elsif mod == 0 %}lg:justify-end{% endif %}">
                      {{ block.settings.text | escape }}
                      {%- if block.settings.link != blank -%}
                        {% render 'icon-arrow' %}
                      {%- endif -%}
                      {%- if block.settings.icon != blank -%} 
                        <div class="announcement-bar__icon">
                          <img src="{{ block.settings.icon | img_url }}" width="{{ block.settings.icon.width }}" height="{{ block.settings.icon.height }}" class="no-radius" loading="lazy" alt="" />
                        </div>
                      {%- endif -%}
                    </div>
                  </div>
              {%- if block.settings.link != blank -%}
                </a>
              {%- endif -%}
            {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

<script>
  setTimeout(function () {
    if (window.THEME_CONFIGS && window.THEME_CONFIGS.settings.mobileBreakpoint && window.innerWidth <= window.THEME_CONFIGS.settings.mobileBreakpoint) {
      var announcementDiv = document.getElementById('announcementBar');
      var announcementScroller = announcementDiv.querySelector('.announcement-bar__scroller')
      var i = 0
      setInterval(function () {
          announcementScroller.style.transform = 'translateX(-' + i + '%)';
          i = i >= 200 ? 0 : i + 100
      }, 5000)
    }
  }, 2000)
</script>

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "positive",
          "label": "Positive"
        },
        {
          "value": "negative",
          "label": "Negative"
        }
      ],
      "default": "positive",
      "label": "Color scheme"
    },
    {
      "type": "color",
      "id": "specific_color",
      "label": "Specific Color Background"
    }
  ],
  "max_blocks": 12,
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
