<section class="{% if section.settings.version == 'big' %}big-paragraph{% else %}normal-paragraph{% endif %} large-container">
  <div class="rte mt-24 mb-24 lg:mt-48 lg:mb-48">
    {{ section.settings.text }}
  </div>
</section>

{% schema %}
{
  "name": "Paragraph",
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "select",
      "id": "version",
      "label": "Version",
      "options": [
        {
          "value": "big",
          "label": "Big"
        },
        {
          "value": "normal",
          "label": "Normal"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Paragraph",
      "category": "Sections"
    }
  ]
}
{% endschema %}