<div id="category-three-col-root-{{ section.id }}"></div>

<script>
  window.CATEGORY_THREE_COL = window.CATEGORY_THREE_COL || {
    id: {{ section.id | json }},
    elementId: "category-three-col-root-{{ section.id }}",
    settings: {
      sectionTitle: "{{ section.settings.section_title }}",
      sectionAlign: "{{ section.settings.section_title_align }}",
      noUppercase: "{{ section.settings.section_no_uppercase }}",
      enableBackground: {{ section.settings.section_background | json }},
      backgroundOrientation: "{{ section.settings.section_background_orientation }}"
    },
    cards: []
  };

  {% for block in section.blocks %}
    window.CATEGORY_THREE_COL.cards.push({ 
      {% if block.settings.category_card_image != blank %}
        image: {{ block.settings.category_card_image | img_url: 'x300' | json }},
      {% endif %}
      title: {{ block.settings.category_card_title | json }},
      titleCentered: {{ block.settings.category_card_title_centered | json }},
      ctaUrl: {{ block.settings.category_card_cta_url | json }},
      ctaLabel: {{ block.settings.category_card_cta_label | json }}
    });
  {% endfor %}
</script>
 
{% schema %}
{
  "name": "Category Three Columns",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title Text"
    },
    {
      "type": "select",
      "id": "section_title_align",
      "label": "Section Title Align",
      "options": [
        {
          "value": "left",
          "label": "left"
        },
        {
          "value": "center",
          "label": "center"
        },
        {
          "value": "right",
          "label": "right"
        }
      ]
    },
   {
     "type": "checkbox",
     "id": "section_no_uppercase",
     "label": "No Uppercase",
     "default": false
   },
    {
      "type": "checkbox",
      "id": "section_background",
      "label": "Enable background",
      "default": false
    },
    {
      "type": "select",
      "id": "section_background_orientation",
      "label": "Background orientation",
      "options": [
        {
          "value": "left",
          "label": "left"
        },
        {
          "value": "right",
          "label": "right"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "category_card",
      "name": "Category Card",
      "settings": [
        {
          "type": "text",
          "id": "category_card_title",
          "label": "Category Card Title"
        },
        {
          "type": "checkbox",
          "id": "category_card_title_centered",
          "label": "Category Card Title Centered",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "category_card_image",
          "label": "Category Card Image"
        },
        {
          "type": "url",
          "id": "category_card_cta_url",
          "label": "Category Card Url"
        },
        {
          "type": "text",
          "id": "category_card_cta_label",
          "label": "Category Card Label"
        }
      ]
    }
  ],
  "presets": [
    {
        "name": "Category Three Col",
        "category": "Sections"
    }
  ]
}
{% endschema %}