<div class="pt-32 pb-32">
  <div class="large-container">
    <div class="certification__list-container medium-container">
      <div class="section-title--secondary text-center mb-16"><span>{{ section.settings.certifications_section_title }}</span></div>
      {% if section.blocks.size > 0 %}
        <div class="certification__list-wrapper grid grid-cols-2 lg:grid-cols-5">
          {% for block in section.blocks %}
            <div class="certification__list-item flex justify-center items-center mb-8">
              <div>
                <img src="{{ block.settings.certification_image | img_url: '130x' }}" alt="" class="no-radius" loading="lazy" />
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Certifications List",
  "max_blocks": 6,
  "settings": [
    {
      "type": "text",
      "id": "certifications_section_title",
      "label": "Section Title"
    }
  ],
  "blocks": [
    {
      "type": "certification_item",
      "name": "Certification Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "certification_image",
          "label": "label"
        },
        {
          "type": "url",
          "id": "certification_url",
          "label": "label"
        }
      ]
    }
  ],
  "presets": [
    {
        "name": "Certifications List",
        "category": "Sections"
    }
  ]
}
{% endschema %}