<div class="component-product-three-col__wrapper mt-24 mb-24 lg:mt-48 lg:mb-48">
  <div class="large-container">
    {% render 'section-title', title: section.settings.comp_3col__title, description: section.settings.comp_3col__content, size: 'smaller', no_uppercase: true, align: 'center' %}
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-28">
      <div>
        <div class="image text-center mb-8">
          <img src="{{ section.settings.comp_3col__col1_img | img_url: '1024x'}}" loading="lazy" class="mx-auto" style="max-width: 125px;" />
        </div>
        <div class="content">
          <h3 class="mb-8">{{ section.settings.comp_3col__col1_title }}</h3>
          <p>{{ section.settings.comp_3col__col1_desc }}</p>
        </div>
      </div>
      <div>
        <div class="image text-center mb-8">
          <img src="{{ section.settings.comp_3col__col2_img | img_url: '1024x'}}" loading="lazy" class="mx-auto" style="max-width: 125px;" />
        </div>
        <div class="content">
          <h3 class="mb-8">{{ section.settings.comp_3col__col2_title }}</h3>
          <p>{{ section.settings.comp_3col__col2_desc }}</p>
        </div>
      </div>
      <div>
        <div class="image text-center mb-8">
          <img src="{{ section.settings.comp_3col__col3_img | img_url: '1024x'}}" loading="lazy" class="mx-auto" style="max-width: 125px;" />
        </div>
                <div class="content">
          <h3 class="mb-8">{{ section.settings.comp_3col__col3_title }}</h3>
          <p>{{ section.settings.comp_3col__col3_desc }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Three Col Product Comp",
  "settings": [
    {
      "type": "text",
      "id": "comp_3col__title",
      "label": "Three Col Section Title"
    },
    {
      "type": "richtext",
      "id": "comp_3col__content",
      "label": "Three Col Section Description"
    },
    {
      "type": "text",
      "id": "comp_3col__col1_title",
      "label": "Three Col Column1 Title"
    },
     {
       "type": "richtext",
       "id": "comp_3col__col1_desc",
       "label": "Three Col Column1 Description"
     },
     {
      "type": "image_picker",
      "id": "comp_3col__col1_img",
      "label": "Three Col Column1 Image"
    },
     {
      "type": "text",
      "id": "comp_3col__col2_title",
      "label": "Three Col Column2 Title"
    },
     {
       "type": "richtext",
       "id": "comp_3col__col2_desc",
       "label": "Three Col Column2 Description"
     },
     {
      "type": "image_picker",
      "id": "comp_3col__col2_img",
      "label": "Three Col Column2 Image"
    },
     {
      "type": "text",
      "id": "comp_3col__col3_title",
      "label": "Three Col Column3 Title"
    },
    {
      "type": "richtext",
      "id": "comp_3col__col3_desc",
      "label": "Three Col Column3 Description"
    },
    {
      "type": "image_picker",
      "id": "comp_3col__col3_img",
      "label": "Three Col Column3 Image"
    }
  ]
}
{% endschema %}