<div class="component-product-claim__wrapper mt-24 mb-24 lg:mt-48 lg:mb-48" style="background-color: {{ section.settings.component_claim_background }};">
  <div class="large-container">
    <div class="small-container text-center pt-24 pb-24">
      <p>{{ section.settings.component_claim_content }}</p>
    </div>
  </div>
</div>

{% if section.settings.component_claim_text_color %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var claimParagraph = document.querySelector('.component-product-claim__wrapper .small-container').children
      for (var i = 0; i < claimParagraph.length; i++) {
          claimParagraph[i].style.color = "{{ section.settings.component_claim_text_color }}";
        }
    })
  </script>
{% endif %}

{% schema %}
{
  "name": "Product Claim Component",
  "settings": [
    {
      "type": "color",
      "id": "component_claim_background", 
      "label": "Claim Background"
    },
    {
      "type": "color",
      "id": "component_claim_text_color", 
      "label": "Claim Text Color"
    },
    {
      "type": "richtext",
      "id": "component_claim_content",
      "label": "Claim Content"
    }
  ]
}
{% endschema %}