<div class="component-product-video__wrapper mt-24 mb-24 lg:mt-48 lg:mb-48">
  <div class="large-container">
    {% if section.settings.component_video_title != blank %}
      {% if section.settings.component_video_description != blank %} 
        {% render 'section-title', title: section.settings.component_video_title, description: section.settings.component_video_description, size: 'smaller', no_uppercase: true, description_multiline: true %}
      {% else %}
        {% render 'section-title', title: section.settings.component_video_title, size: 'smaller', no_uppercase: true %}
      {% endif %}
    {% endif %}
    {% if section.settings.component_video_image != blank and section.settings.component_video_embed != blank %}
      <div class="video-wrapper">
        {{ section.settings.component_video_embed }}
        <div class="preview-image">
          <img src="{{ section.settings.component_video_image | img_url: '1024x' }}" loading="lazy" width="1024" height="1024" />
        </div>
        <span class="button button--primary button--medium button--video">
          Guarda
          <svg width="23px" height="26px" viewBox="0 0 23 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>icon-play-video</title>
            <g id="❤️-Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="COMP---Video-dettaglio-Prodotto" transform="translate(-770.000000, -543.000000)" fill="#FFFFFF">
                    <g id="COMP---VIDEO-FULLWIDTH-Copy" transform="translate(0.000000, 187.000000)">
                        <g id="cta-primaria-with-icon" transform="translate(502.000000, 342.000000)">
                            <path d="M283.424233,19.114463 L292.909765,34.4196222 C293.782584,35.8279381 293.348478,37.677163 291.940162,38.5499816 C291.465518,38.844147 290.918192,39 290.359784,39 L271.388718,39 C269.731864,39 268.388718,37.6568542 268.388718,36 C268.388718,35.4415916 268.544571,34.8942659 268.838737,34.4196222 L278.324269,19.114463 C279.197088,17.7061471 281.046313,17.2720407 282.454629,18.1448592 C282.84835,18.3888722 283.18022,18.7207417 283.424233,19.114463 Z" id="icon-play-video" transform="translate(280.874251, 27.000000) rotate(90.000000) translate(-280.874251, -27.000000) "></path>
                        </g>
                    </g>
                </g>
            </g>
          </svg>
        </span>
      </div>
    {% endif %}
  </div>
</div>

<script>
  var buttonVideos = document.querySelectorAll('.button--video')

  buttonVideos.forEach(function (el) {
    el.addEventListener('click', function (evt) {
      evt.target.parentNode.classList.toggle('clicked')

      
      var iframe = evt.target.parentNode.parentNode.querySelector('iframe')
      const autoPlayString = (iframe.src.includes('?') && iframe.src.includes('=')) ? '&autoplay=1' : '?autoplay=1'
      iframe.src = iframe.src + autoPlayString
    })
  })
</script>

{% schema %}
{
  "name": "Product Video Component",
  "settings": [
    {
      "type": "text",
      "id": "component_video_title",
      "label": "Video Title"
    },
    {
      "type": "richtext",
      "id": "component_video_description",
      "label": "Video Description"
    },
    {
      "type": "richtext",
      "id": "component_video_embed",
      "label": "Embed Video Code"
    },
    {
      "type": "image_picker",
      "id": "component_video_image",
      "label": "Preview Video Image"
    }
  ],
  "presets": [
    {
        "name": "Product Video Component",
        "category": "Sections"
    }
  ]
}
{% endschema %}