<div class="component-product-text-with-image__wrapper mt-24 mb-24 lg:mt-48 lg:mb-48">
  <div class="large-container">
    <div class="flex flex-wrap {% if section.settings.component_text_image_disposition == 'image_before' %}flex-wrap-reverse{% endif %}">
      <div class="flex-100% lg:flex-40% flex flex-wrap items-center {% if section.settings.component_text_image_disposition == 'image_before' %}order-1{% endif %}">
        <div class="component-product-text-with-image__content lg:pr-12 {% if section.settings.component_text_image_disposition == 'image_before' %}lg:pl-12 lg:pr-0{% endif %} pb-12">
          <h2 class="mb-8">{{ section.settings.component_text_image_title }}</h2>
          <p>{{ section.settings.component_text_image_description }}</p>
        </div>
      </div>
      <div class="flex-100% lg:flex-60% {% if section.settings.component_text_image_disposition == 'image_before' %}order-0{% endif %}">
        <div class="component-product-text-with-image__image {% if section.settings.component_text_image_disposition == 'image_before' %}pb-12{% endif %}">
          <img src="{{ section.settings.component_text_image_image | img_url: '1024x' }}" loading="lazy" />
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Text With Image Component",
  "settings": [
    {
      "type": "text",
      "id": "component_text_image_title",
      "label": "Text Content Title"
    },
    {
      "type": "richtext",
      "id": "component_text_image_description",
      "label": "Text Content Description"
    },
    {
      "type": "image_picker",
      "id": "component_text_image_image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "component_text_image_disposition",
      "label": "Disposition",
      "options": [
        {
          "value": "image_after",
          "label": "Image after"
        },
        {
          "value": "image_before",
          "label": "Image after"
        }
      ]
    }
  ]
}
{% endschema %}