{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}
<style>
  .large-container.lista-store.mt-24.mb-24.lg\:mt-48.lg\:mb-48 a.link.list-social__link{
display: inline-block;
    margin-right: 8px;
}
  
  .large-container.lista-store.mt-24.mb-24.lg\:mt-48.lg\:mb-48 {
    margin-top: 6rem;
}
</style>

<div class="contact large-container page-width page-width--narrow spaced-section mt-32 mb-32">
  <div class="wrapper-copy"> 
    <h1>{{ 'templates.contact.page_title' | t }}</h1>
    <p>{{ 'templates.contact.page_description' | t }} <br />{{ 'templates.contact.page_description2' | t }}</p>
  </div>
  <h2 class="title">{{ section.settings.heading | escape }}</h2>
  {%- form 'contact', id: 'ContactForm' , class: 'pl-0 md:pl-16 pt-16 md:pt-0' -%}
  {%- if form.posted_successfully? -%}
  <div class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</div>
  {%- elsif form.errors -%}
  <div class="form__message">
    <h2 class="form-status caption-large" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
  </div>
  <ul class="form-status-list caption-large" role="list">
    <li>
      <a href="#ContactForm-email" class="link">
        {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
      </a>
    </li>
  </ul>
  {%- endif -%}
  <div class="contact__fields">
    <div class="field flex flex-col">
      <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
      <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.name' | t }}">
    </div>
    <div class="field flex flex-col field--with-error">
      <label class="field__label" for="ContactForm-email">{{ 'templates.contact.form.email' | t }} <span aria-hidden="true">*</span></label>
      <input
      autocomplete="email"
      type="email"
      id="ContactForm-email"
      class="field__input"
      name="contact[email]"
      spellcheck="false"
      autocapitalize="off"
      value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
      aria-required="true"
      {% if form.errors contains 'email' %}
      aria-invalid="true"
      aria-describedby="ContactForm-email-error"
      {% endif %}
      placeholder="{{ 'templates.contact.form.email' | t }}"
      >
      {%- if form.errors contains 'email' -%}
      <small class="contact__field-error" id="ContactForm-email-error">
        <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
        <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
      </small>
      {%- endif -%}
    </div>
  </div>
  <div class="field flex flex-col">
   <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
   <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[{{ 'templates.contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'templates.contact.form.phone' | t }}">
 </div>
 <div class="field flex flex-col">
  <label class="form__label field__label" for="ContactForm-body">{{ 'templates.contact.form.comment' | t }}</label>
  <textarea
  rows="10"
  id="ContactForm-body"
  class="text-area field__input"
  name="contact[{{ 'templates.contact.form.comment' | t }}]"
  placeholder="{{ 'templates.contact.form.comment' | t }}"
  >
  {{- form.body -}}
</textarea>
</div>

<div class="contact__button">
  <button type="submit" class="button newsletter-form__button button button--primary button--small">
    {{ 'templates.contact.form.send' | t }}
  </button>
</div>
{%- endform -%}
</div>
<!--
<div class="large-container lista-store mt-24 mb-24 lg:mt-48 lg:mb-48">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-x-24 gap-y-16 md:grid-cols-3 sm:grid-cols-2">
    <div>
      <h4 class="mb-4">INDIRIZZO</h4>
      <p>Via M. D’Azeglio, 19<br />
        40123 Bologna – Italy<br>
        Tel. +39 051 261627<br>
      Fax +39 051 4689642</p>
    </div>
    <div>
      <h4 class="mb-4">ORARI DI APERTURA</h4>
      <p>Lunedì – Venerdì<br />
      dalle 9.30 alle 18.00</p>
      <p>Sabato – Domenica<br />
      chiuso</p>
    </div>
    <div>
      <h4 class="mb-4">RIMANI CONNESSO</h4>
      <a href="https://www.facebook.com/MuradItalia" class="link list-social__link">
        <img src="//cdn.shopify.com/s/files/1/0623/7162/7260/files/FB-icon.png?v=1645019580" alt="facebook" loading="lazy" width="31" height="30">
        <span class="visually-hidden">facebook</span> 
      </a>
      <a href="https://www.instagram.com/muraditalia/" class="link list-social__link">
        
        <img src="//cdn.shopify.com/s/files/1/0623/7162/7260/files/IG-icon.png?v=1645019603" alt="instagram" loading="lazy" width="31" height="31">
        
        <span class="visually-hidden">instagram</span> 
      </a>
      <a href="https://www.youtube.com/user/MuradItalia" class="link list-social__link">
        
        <img src="//cdn.shopify.com/s/files/1/0623/7162/7260/files/YT-icon.png?v=1645019619" alt="youtube" loading="lazy" width="30" height="30">
        
        <span class="visually-hidden">youtube</span> 
      </a>
    </div>
  </div>
</div>
-->
{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
  {
    "type": "text",
    "id": "heading",
    "default": "Contact form",
    "label": "Heading"
  }
  ],
  "presets": [
  {
    "name": "t:sections.contact-form.presets.name"
  }
  ]
}
{% endschema %}
