{% assign featured_product = section.settings.featured_product %}

<div class="large-container">
  <div class="mt-24 mb-24 lg:mt-48 lg:mb-48">
    {% render 'section-title', title: section.settings.title, align: section.settings.section_title_align, size: section.settings.section_title_size, multiline: section.settings.section_title_multiline, no_uppercase: section.settings.section_title_nouppercase %}
    <div id="featuredProduct"></div>
  </div>
</div>


<script>

  window.FEATURED_PRODUCT = {
    vendor: "{{ featured_product.vendor }}",
    handle: "{{ featured_product.handle }}",
    title: "{{ featured_product.title }}",
    compare_at_price: {{ featured_product.compare_at_price | json }},
    price: {{ featured_product.price | json }},
    available: {{ featured_product.available | json }},
    variants: [
      {
        id: "{{ featured_product.variants[0].id }}"
      }
    ],
    {% if featured_product.featured_image != blank %}
      featured_image: "{{ featured_product.featured_image | img_url }}",
      imageSrcSet: {
        '600w': "{{ featured_product.featured_image | img_url: '600x' }}",
        '400w': "{{ featured_product.featured_image | img_url: '400x' }}"
      },
    {% endif %}
    {% if featured_product.metafields.my_fields.short_description != blank %}
      metafields: {
        short_description: {{ featured_product.metafields.my_fields.short_description | strip_html | json }},
      }
    {% endif %}
  }
</script>

{% schema %}
{
  "name": "Featured Product",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "section_title_align",
      "label": "Section Title Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_title_size",
      "label": "Section Title Size",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "smaller",
          "label": "Smaller"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "section_title_multiline",
      "label": "Section Title Multiline",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "section_title_nouppercase",
      "label": "Section Title No Uppercase",
      "default": false
    },
    {
      "type": "product",
      "id": "featured_product",
      "label": "Featured Product"
    }
  ],
  "presets": [
    {
        "name": "Featured Product",
        "category": "Sections"
    }
  ]
}
{% endschema %}