{% assign featured_blog = articles[section.settings.blog_handle] %}

{% if featured_blog != blank %}
  <div class="featured-blog__container large-container">
    <div class="featured-blog__wrapper grid lg:grid-cols-2">
      <div class="featured-blog__image">
        <img src="{{ featured_blog.image | img_url: '1200x' }}" alt="" loading="lazy" />
      </div>
      <div class="featured-blog__details">
        <div class="featured-blog__content">
          <span class="featured-blog__label">{{ section.settings.blog_label }}</span>
          <h2 class="featured-blog__title">{{ featured_blog.title }}</h2>
          <p class="featured-blog__description">{{ featured_blog.excerpt }}</p>
          <a href="{{ featured_blog.url }}" class="button button--primary button--medium">{{ section.settings.blog_cta_label }}</a>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Featured Blog",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "blog_handle",
      "label": "Blog Handle"
    },
    {
      "type": "text",
      "id": "blog_label",
      "label": "Blog Label"
    },
    {
      "type": "text",
      "id": "blog_cta_label",
      "label": "Blog CTA Label"
    }
  ],
  "presets": [
    {
        "name": "Featured Blog",
        "category": "Sections"
    }
  ]
}
{% endschema %}
