{%- liquid
  assign products_to_display = section.settings.collection.all_products_count

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif
-%}
<div class="collection product-recommendations mt-24 mb-24 lg:mt-48 lg:mb-48">
  <div class="large-container">
    {% render 'section-title', title: section.settings.title, align: section.settings.section_title_align, size: section.settings.section_title_size, multiline: section.settings.section_title_multiline, no_uppercase: section.settings.section_title_nouppercase %}
  </div>
  <div class="product-recommendations__container large-container">
    <!-- <h2 class="product-recommendations__heading">{{ section.settings.title | escape }}</h2> -->
    <div class="product-recommendations__swiper featured-collection__swiper swiper">
      <div class="swiper-wrapper">
        {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
          <div class="swiper-slide">
            {% render 'product-card',
              product_card_product: product,
              media_size: section.settings.image_ratio,
              show_secondary_image: section.settings.show_secondary_image,
              add_image_padding: section.settings.add_image_padding,
              show_vendor: section.settings.show_vendor,
              show_image_outline: section.settings.show_image_outline,
              show_rating: section.settings.show_rating,
              from_slider: true,
              add_to_cart_type: section.settings.add_to_cart_type,
              card_alignment: section.settings.card_alignment
            %}
          </div>
        {% endfor %}
      </div>
      <div class="swiper-button-prev">
        <img src={{ settings.slider_arrow | img_url: 'master' }} alt="" />
      </div>
      <div class="swiper-button-next">
        <img src={{ settings.slider_arrow | img_url: 'master' }} alt="" />
      </div>
    </div>
  </div>

</div>

<script>
  var swiper = new Swiper('.featured-collection__swiper', {
  // Optional parameters
  loop: true,
  slidesPerView: 1.5,
  spaceBetween: 24,

  breakpoints: {
    // when window width is >= 480px
    480: {
      slidesPerView: 2.5,
    },
    // when window width is >= 640px
    1024: {
      slidesPerView: 3,
      spaceBetween: 40
    }
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev', 
  },
});
</script>

{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "select",
      "id": "section_title_align",
      "label": "Section Title Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_title_size",
      "label": "Section Title Size",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "smaller",
          "label": "Smaller"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "section_title_multiline",
      "label": "Section Title Multiline",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "section_title_nouppercase",
      "label": "Section Title No Uppercase",
      "default": false
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-collection.settings.show_view_all.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "add_image_padding",
      "default": false,
      "label": "t:sections.featured-collection.settings.add_image_padding.label"
    },
    {
      "type": "checkbox",
      "id": "show_image_outline",
      "default": true,
      "label": "t:sections.featured-collection.settings.show_image_outline.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_rating.label",
      "info": "t:sections.featured-collection.settings.show_rating.info"
    },
    {
      "type": "select",
      "id": "add_to_cart_type",
      "label": "Add To Cart Type",
      "options": [
        {
          "value": "icon",
          "label": "Icon"
        },
        {
         "value": "button",
         "label": "Button"
       }
      ]
    },
    {
      "type": "checkbox",
      "id": "card_alignment",
      "label": "Card Text Center Alignment",
      "default": false
    }
  ],
  "presets": [
    {
        "name": "Featured Collection",
        "category": "Sections"
    }
  ]
}
{% endschema %}
