<footer class="footer large-container">
  <div class="mt-24 lg:mt-48">
    {%- if section.blocks.size > 0 or section.settings.newsletter_enable or section.settings.show_social -%}
      <div class="footer__content-top flex flex-wrap">
        {%- if section.blocks.size > 0 -%}
          <div class="footer__blocks-wrapper flex-100% lg:flex-1/2 grid grid-cols-1 lg:grid-cols-2 mb-8 lg:mb-0">
            {%- for block in section.blocks -%}
              <div class="mb-8 lg:mb-16 footer-block grid__item{% if block.type == 'link_list' and block.settings.menu != blank %} footer-block--menu{% endif %}" {{ block.shopify_attributes }}>
                {%- if block.settings.menu != blank -%}
                  {% if block.settings.heading != blank %}<h2 class="footer-block__heading">{{- block.settings.heading | escape -}}</h2>{% endif %}
    
                  <ul class="footer-block__details-content list-unstyled">
                    {%- for link in block.settings.menu.links -%}
                      <li>
                        <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                          {{ link.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}
  
        <div class="footer-block--newsletter flex-100% lg:flex-1/2">
          {%- if section.settings.newsletter_enable -%}
            <div class="footer-block__newsletter">
              {%- if section.settings.newsletter_heading != blank -%}
                <h2 class="footer-block__heading">{{ section.settings.newsletter_heading | escape }}</h2>
              {%- endif -%}
              <div id="newsletter-footer">
            </div>
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}
  
    <div class="footer__content-bottom my-16">
      <div class="footer__content-bottom-wrapper page-width">
        <div class="footer__column footer__column--info flex flex-wrap">
          <div class="footer__contacts flex-100% lg:flex-1/3 flex-grow-0 mb-8 lg:mb-0">
            <h2 class="footer-block__heading mb-4 lg:mb-8">{{ section.settings.contacts_title }}</h2>
            <p class="font-body-small">{{ section.settings.contacts_text | newline_to_br }}</p>
          </div>
  
          <div class="footer__payment flex-100% lg:flex-1/3 flex-grow-0 mb-8 lg:mb-0">
            <h2 class="footer-block__heading lg:text-center mb-4 lg:mb-8">{{ section.settings.payment_title }}</h2>
            <ul class="list list-payment flex-wrap flex lg:justify-center" role="list">
              {%- for type in shop.enabled_payment_types -%}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%} 
            </ul>
          </div>
  
          <div class="flex-100% lg:flex-1/3 flex-grow-0 mb-8 lg:mb-0">
            <h2 class="footer-block__heading lg:text-right mb-4 lg:mb-8">{{ section.settings.social_title }}</h2>
            <ul class="footer__list-social list-unstyled list-social flex items-center lg:justify-end" role="list">
              {%- if settings.social_facebook_link != blank -%}
                <li class="list-social__item">
                  {% render 'social-icon', class: "link list-social__link", url: settings.social_facebook_link, image: settings.social_facebook_icon, type: 'facebook' %}
                </li>
              {%- endif -%}
              {%- if settings.social_instagram_link != blank -%}
                <li class="list-social__item">
                  {% render 'social-icon', class: "link list-social__link", url: settings.social_instagram_link, image: settings.social_instagram_icon, type: 'instagram' %}
                </li>
              {%- endif -%}
              {%- if settings.social_youtube_link != blank -%}
                <li class="list-social__item">
                  {% render 'social-icon', class: "link list-social__link", url: settings.social_youtube_link, image: settings.social_youtube_icon, type: 'youtube' %}
                </li>
              {%- endif -%}
              {%- if settings.social_linkedin_link != blank -%}
                <li class="list-social__item">
                  {% render 'social-icon', class: "link list-social__link", url: settings.social_linkedin_link, image: settings.social_linkedin_icon, type: 'linkedin' %}
                </li>
            {%- endif -%}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('ul'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true); 
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "textarea",
      "id": "newsletter_description",
      "label": "Newsletter Text"
    },
    {
      "type": "header",
      "content": "Contact Box"
    },
    {
      "type": "text",
      "id": "contacts_title",
      "label": "Contact Heading",
      "default": "Contacts" 
    },
    {
      "type": "textarea",
      "id": "contacts_text",
      "label": "Contact Body",
      "default": "Spotview\nVia Zanolini, 15/2 - Bologna\ninfo@spotview.it\n051 2819567"
    },
    {
      "type": "header",
      "content": "Payment Box"
    },
    {
      "type": "text",
      "id": "payment_title",
      "label": "Payments Heading",
      "default": "Payments" 
    },
    {
      "type": "header",
      "content": "Social Box"
    },
    {
      "type": "text",
      "id": "social_title",
      "label": "Social Heading",
      "default": "Social" 
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
