<section class="full-width-image mt-24 mb-24 lg:mt-48 lg:mb-48 {% if section.settings.image_disposition != 'fullscreen' %}large-container{% else %}fullscreen{% endif %}">
  <img src="{{ section.settings.image | img_url: 'master' }}" alt="" loading="lazy" class="hero-banner" />
  {% if section.settings.title != blank %} 
    <div class="full-width-image__content">
      <h2 class="mb-8" {% if section.settings.text_color != '' %}style="color: {{ section.settings.text_color }};"{% endif %}>{{ section.settings.title }}</h2>
      {% if section.settings.description != blank %} 
        <div>
          {{ section.settings.description }}
        </div>
      {% endif %}
      {% if section.settings.cta_title != blank and section.settings.cta_link != blank %}
        <a href="{{ section.settings.cta_link }}" class="button button--primary button--medium mt-8">{{ section.settings.cta_title }}</a>
      {% endif %}
    </div>
  {% endif %}
</section>

{% schema %}
{
  "name": "Full Width Image",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "image_disposition",
      "label": "Type",
      "options": [
        {
          "value": "fullscreen",
          "label": "Fullscreen"
        },
        {
          "value": "hero",
          "label": "Hero Banner"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color"
    },
    {
      "type": "text",
      "id": "cta_title",
      "label": "Cta Title"
    },
    {
      "type": "text",
      "id": "cta_link",
      "label": "Cta Link"
    }
  ],
  "presets": [
    {
      "name": "Full Width Image",
      "category": "Sections"
    }
  ]
}
{% endschema %}