<script>
  window.HEADER_CONFIGS = {
    customer: {% if customer %}{ firstName: "{{ customer.first_name }}", lastName: "{{ customer.last_name }}" }{% else %}null{% endif %},
    settings: {{ section.settings | json }},
    languages: [
      {%- for language in localization.available_languages -%}
        {
          isoCode: {{ language.iso_code | json }},
          rootUrl: {{ language.root_url | json }},
          name: {{ language.endonym_name | json }},
          isCurrent: {% if localization.language.iso_code == language.iso_code %}true{% else %}false{% endif %}
        },
      {%- endfor -%}
    ]
  }

  {% if section.settings.logoImageUrl != blank %}
    window.HEADER_CONFIGS.settings.logoImageUrl = {{ section.settings.logoImageUrl | img_url: 'master' | json }};
  {% endif %}

  {% if section.settings.searchButtonImage != blank %}
    window.HEADER_CONFIGS.settings.searchButton = {
      width: {{ section.settings.searchButtonImage.width | json }},
      height: {{ section.settings.searchButtonImage.height | json }}
    }
  {% endif %}

  {% if section.settings.cartButtonImage != blank %}
    window.HEADER_CONFIGS.settings.cartButton = {
      width: {{ section.settings.cartButtonImage.width | json }},
      height: {{ section.settings.cartButtonImage.height | json }}
    }
  {% endif %}

  {% if section.settings.userProfileButtonImage != blank %}
    window.HEADER_CONFIGS.settings.userProfileButton = {
      width: {{ section.settings.userProfileButtonImage.width | json }},
      height: {{ section.settings.userProfileButtonImage.height | json }}
    }
  {% endif %}

  window.HEADER_CONFIGS.settings.shopTitle = {{ shop.name | json }};
</script>

<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "select",
      "id": "headerLayoutType",
      "label": "Header layout type:",
      "options": [
        {
          "value": "3-columns-with-centered-logo",
          "label": "3 columns w/ centered logo"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "logoImageUrl",
      "label": "Logo Image"
    },
    {
      "type": "header",
      "content": "Header Buttons"
    },
    {
      "type": "select",
      "id": "navigationButtonVisibility",
      "label": "Navigation Button Visibility",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "hidden",
          "label": "Hidden"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "searchButtonVisibility",
      "label": "Search Button Visibility",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "hidden",
          "label": "Hidden"
        }
      ],
      "default": "left"
    },
    {
      "type": "image_picker",
      "id": "searchButtonImage",
      "label": "Search Button Image"
    },
    {
      "type": "select",
      "id": "cartButtonVisibility",
      "label": "Cart Button Visibility",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "hidden",
          "label": "Hidden"
        }
      ],
      "default": "right"
    },
    {
      "type": "image_picker",
      "id": "cartButtonImage",
      "label": "Cart Button Image"
    },
    {
      "type": "select",
      "id": "languageSelectorVisibility",
      "label": "Language Selector Visibility",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "hidden",
          "label": "Hidden"
        }
      ],
      "default": "right"
    },
    {
      "type": "select",
      "id": "userProfileButtonVisibility",
      "label": "User Profile Button Visibility",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "hidden",
          "label": "Hidden"
        }
      ],
      "default": "right"
    },
    {
      "type": "image_picker",
      "id": "userProfileButtonImage",
      "label": "User Profile Button Image"
    }
  ]
}
{% endschema %}