<div class="product-details__container">
  <div id="productDetailsWrapper"></div>
  
  {% render 'ZooomyListWishlistProduct' %}
</div>

<script>
  window.PRODUCT_DETAILS = {{ product | json }};
  window.PRODUCT_DETAILS.metafields = {};
  window.PRODUCT_DETAILS.placeholder = {{ 'product-1'| placeholder_svg_tag: 'w-full' | json }};
  
  {% if product.metafields.my_fields.nutrition_facts %}
    window.PRODUCT_DETAILS.metafields['nutrition_facts'] = {{ product.metafields.my_fields.nutrition_facts.value | json }};
  {% endif %}

  {% if product.metafields.my_fields.ingredients %}
    window.PRODUCT_DETAILS.metafields['ingredients'] = {{ product.metafields.my_fields.ingredients.value | json }};
  {% endif %}

  {% if product.metafields.my_fields.short_description %}
    window.PRODUCT_DETAILS.metafields['short_description'] = {{ product.metafields.my_fields.short_description.value | newline_to_br | json }};
  {% endif %}

  {% if product.metafields.my_fields.prezzochilo %}
    window.PRODUCT_DETAILS.metafields['prezzochilo'] = {{ product.metafields.my_fields.prezzochilo.value | json }};
  {% endif %}

  {% if product.metafields.my_fields.certifications %}
    window.PRODUCT_DETAILS.metafields['certifications'] = [];

    {% assign certifications = product.metafields.my_fields.certifications.value %}
    {% for cert in certifications %}
      window.PRODUCT_DETAILS.metafields['certifications'].push({
        url: "{{ cert.url }}",
        icon: "{{ cert.icon | file_img_url: '150x' }}"
      });
    {% endfor %}
  {% endif %}

  {% if product.metafields.my_fields.attributes %}
    window.PRODUCT_DETAILS.metafields['attributes'] = [];

    {% assign attributes = product.metafields.my_fields.attributes.value %}
    {% if localization.language.primary == true %}
      {% for attr in attributes %}
        window.PRODUCT_DETAILS.metafields['attributes'].push({
          label: "{{ attr.label }}",
          icon: "{{ attr.icon | file_img_url: '100x' }}"
        });
      {% endfor %}
    {% else %}

      {% assign attrs = product.metafields.my_fields.attributes | replace: '[', '' | replace: ']', '' | strip_html | strip_newlines | replace: '},', '#' | replace: '{', '' | replace: '}', '' | split: '#' %}
      {% assign labels = '' %}
      {% assign icons = '' %}

      {% for attr in attrs %}
        {% assign splitted = attr | split: ',' %}
        {% assign label = splitted[0] | replace: '"', '' | strip | split: ':' %}
        {% assign icon = splitted[1] | replace: '"', '' | strip | split: ':' %}

        {% assign labels = labels | append: label[1] | append: ',' %}
        {% assign icons = icons | append: icon[1] | append: ',' %}

      {% endfor %}

      {% assign labels_array = labels | split: ',' %}
      {% assign icons_array = icons | split: ',' %}

      var labels = [];
      var icons = [];

      {% for ic in icons_array %}
        icons.push("{{ ic | strip | file_url }}");
      {% endfor %}

      {% for lab in labels_array %}
        {% if lab != '' %}
          labels.push("{{ lab }}")
        {% endif %}
      {% endfor %}

      icons.forEach(function (icon, i) {
        window.PRODUCT_DETAILS.metafields['attributes'].push({
          label: labels[i],
          icon: icon
        });
      });
    {% endif %}
  {% endif %}

  {% if product.metafields.my_fields.formato %}
    window.PRODUCT_DETAILS.metafields['formato'] = "{{ product.metafields.my_fields.formato }}";
  {% endif %}

  window.PRODUCT_DETAILS.productSection = {
    {% if section.settings.general_info != blank %}
      generalInfo: {{ section.settings.general_info | json }},
    {% endif %}
    socialSharing: {
      facebook: {{ section.settings.facebook | json }},
			facebookIcon: {{ section.settings['facebook_icon'] | json }},
      whatsapp: {{ section.settings.whatsapp | json }},
			whatsappIcon: {{ section.settings['whatsapp_icon'] | json }},
      email: {{ section.settings.email | json }},
			emailIcon: {{ section.settings['email_icon'] | json }},
      twitter: {{ section.settings.twitter | json }},
			twitterIcon: {{ section.settings['twitter_icon'] | json }},
    },
    quantitySelectorType: {{ section.settings.quantity_type | json }}
  }

  document.addEventListener('DOMContentLoaded', function () {
    var wishlistContainer = document.getElementById('ZlistWishlist');
    var wishlistProductPlaceholder = document.getElementById('productWishlistPlaceholder');

    if (wishlistContainer && wishlistProductPlaceholder) {
      wishlistProductPlaceholder.appendChild(wishlistContainer)
    }
  })

</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ shop.url | append: product.url | json }},
    {%- if product.selected_or_first_available_variant.featured_media -%}
      {%- assign media_size = product.selected_or_first_available_variant.featured_media.preview_image.width | append: 'x' -%}
      "image": [
        {{ product.selected_or_first_available_variant.featured_media | img_url: media_size | prepend: "https:" | json }}
      ],
    {%- endif -%}
    "description": {{ product.description | strip_html | json }},
    {%- if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif -%}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ shop.url | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
  "name": "Main Product",
  "settings": [
    {
      "type": "header",
      "content": "General Info"
    },
    {
      "type": "textarea",
      "id": "general_info",
      "label": "General Info"
    },
    {
      "type": "header",
      "content": "Social Sharing"
    },
    {
      "type": "checkbox",
      "id": "facebook",
      "label": "Facebook",
      "default": true
    },
		{
			"type": "image_picker",
			"id": "facebook_icon",
			"label": "Facebook icon"
		},
    {
      "type": "checkbox",
      "id": "whatsapp",
      "label": "Whatsapp",
      "default": true
    },
		{
			"type": "image_picker",
			"id": "whatsapp_icon",
			"label": "Whatsapp icon"
		},
    {
      "type": "checkbox",
      "id": "email",
      "label": "Email",
      "default": false
    },
		{
			"type": "image_picker",
			"id": "email_icon",
			"label": "Email icon"
		},
    {
      "type": "checkbox",
      "id": "twitter",
      "label": "Twitter",
      "default": false
    },
		{
			"type": "image_picker",
			"id": "twitter_icon",
			"label": "Twitter icon"
		},
    {
      "type": "select",
      "id": "quantity_type",
      "label": "Quantity Selector Type",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "invert",
          "label": "Invert"
        }
      ]
    }
  ]
}
{% endschema %}