<div class="main-blog-title large-container">
  {% render 'section-title', title: section.settings.main_blog_title  %}
</div>

{% schema %}
{
  "name": "Main Blog Title",
  "settings": [
    {
      "type": "text",
      "id": "main_blog_title",
      "label": "Main Blog Title"
    }
  ],
  "presets": [
    {
      "name": "Main Blog Title",
      "category": "Sections"
    }
  ]
}
{% endschema %}