<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>

<div class="large-container">
  <cart-items class="mt-16">
    <div class="title-wrapper-with-link">
      <h1 class="title title--primary text-center">{{ 'sections.cart.title' | t }}</h1>
    </div>
  
    <div class="cart__warnings">
      <h1 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h1>
      <a href="{{ routes.all_products_collection_url }}" class="button">
        {{ 'general.continue_shopping' | t }}
      </a>
  
      {%- if shop.customer_accounts_enabled -%}
        <h2 class="cart__login-title">{{ 'sections.cart.login.title' | t }}</h2>
        <p class="cart__login-paragraph">
          {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
        </p>
      {%- endif -%}
    </div>

    {% assign free_shipping_threshold = settings.free_shipping_threshold | plus: 0.0 %}
    {% assign cart_total = cart.total_price | plus: 0.0 | divided_by: 100 %}
    <div class="cart__free-shipping">
      {% if cart_total < free_shipping_threshold %}
        {% assign remaining = free_shipping_threshold | minus: cart_total %}
        <p>Sei a <span id="freeShippingRemaining">{{ remaining }}</span> € dalla spedizione gratuita <img src="{{ 'freeshipping.png' | asset_img_url }}" loading="lazy" style="display: inline;" /></p>
      {% else %} 
        <p>Spedizione gratuita</p>
      {% endif %}
    </div>
  
    <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
      <div class="cart__items small-container" id="main-cart-items" data-id="{{ section.id }}">
        <div class="js-contents">
          {%- if cart != empty -%}
            <table class="cart-items w-full">
              <thead>
                <tr>
                  <th class="caption-with-letter-spacing text-left" colspan="2" scope="col">{{ 'sections.cart.headings.product' | t }}</th>
                  <th class="cart-items__heading__quantity cart-items__heading--wide small-hide caption-with-letter-spacing text-center" colspan="1" scope="col">{{ 'sections.cart.headings.quantity' | t }}</th>
                  <th class="cart-items__heading__total small-hide right caption-with-letter-spacing text-right" colspan="1" scope="col">{{ 'sections.cart.headings.total' | t }}</th>
                </tr>
              </thead>
  
              <tbody>
                {%- for item in cart.items -%}
                  <tr class="cart-item" id="CartItem-{{ item.index | plus: 1 }}">
                    <td class="cart-item__media">
                      <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}" class="cart-item__remove">
                        <a href="{{ item.url_to_remove }}" class="button button--tertiary" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                          <img src="{{ 'bin.png' | asset_img_url: '20x' }}" alt="" class="no-radius" />
                        </a>
                      </cart-remove-button>
  
                      {% if item.image %}
                        {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                        <a href="{{ item.url }}" class="cart-item__link" aria-hidden="true" tabindex="-1"> </a>
                        <img class="cart-item__image"
                          src="{{ item.image | img_url: '300x' }}"
                          alt="{{ item.image.alt | escape }}"
                          loading="lazy"
                          width="150"
                          height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                        >
                      {% endif %}
                    </td>
  
                    <td class="cart-item__details">
                      <p class="caption-with-letter-spacing light cart-item__vendor">{{ item.product.vendor }}</p>
  
                      <a href="{{ item.url }}" class="cart-item__name break">{{ item.product.title | escape }}</a>
  
                      {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
                        <dl>
                          {%- if item.product.has_only_default_variant == false -%}
                            {%- for option in item.options_with_values -%}
                              <div class="product-option">
                                <dt>{{ option.name }}: </dt>
                                <dd>{{ option.value }}</dd>
                              </div>
                            {%- endfor -%}
                          {%- endif -%}
  
                          {%- for property in item.properties -%}
                            {%- assign property_first_char = property.first | slice: 0 -%}
                            {%- if property.last != blank and property_first_char != '_' -%}
                              <div class="product-option">
                                <dt>{{ property.first }}: </dt>
                                <dd>
                                  {%- if property.last contains '/uploads/' -%}
                                    <a href="{{ property.last }}" target="_blank">
                                      {{ property.last | split: '/' | last }}
                                    </a>
                                  {%- else -%}
                                    {{ property.last }}
                                  {%- endif -%}
                                </dd>
                              </div>
                            {%- endif -%}
                          {%- endfor -%}
                        </dl>
  
                        <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                      {%- endif -%}
  
                      <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                        {%- for discount in item.discounts -%}
                          <li class="discounts__discount">
                            {%- render 'icon-discount' -%}
                            {{ discount.title }}
                          </li>
                        {%- endfor -%}
                      </ul>
  
                      <div class="cart-item__error hidden" id="Line-item-error-{{ item.index | plus: 1 }}" role="alert">
                        <small class="cart-item__error-text"></small>
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                          <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                          <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                          <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                          <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                        </svg>
                      </div>
  
                      <div class="product__price-container">
                        {% if item.compare_at_price != item.final_price %} 
                          <span class="product__compare-price">
                            {{ item.compare_at_price | money }}
                          </span>
                        {% endif %}
                        <span class="product__price">
                          {{ item.final_price | money }}
                        </span>
                      </div>
                      <!-- <div class="cart-item__price-wrapper">
                        {%- if item.original_line_price != item.final_line_price -%}
                          <dl class="cart-item__discounted-prices">
                            <dt class="visually-hidden">
                              {{ 'products.product.price.regular_price' | t }}
                            </dt>
                            <dd>
                              <s class="cart-item__old-price price price--end">
                                {{ item.original_line_price | money }}
                              </s>
                            </dd>
                            <dt class="visually-hidden">
                              {{ 'products.product.price.sale_price' | t }}
                            </dt>
                            <dd class="price price--end">
                              {{ item.final_line_price | money }}
                            </dd>
                          </dl>
                        {%- else -%}
                          <span class="price">
                            {{ item.original_line_price | money }}
                          </span>
                        {%- endif -%}
    
                        {%- if item.variant.available and item.unit_price_measurement -%}
                          <div class="unit-price caption">
                            <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                            {{ item.variant.unit_price | money }}
                            <span aria-hidden="true">/</span>
                            <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                            {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                              {{- item.variant.unit_price_measurement.reference_value -}}
                            {%- endif -%}
                            {{ item.variant.unit_price_measurement.reference_unit }}
                          </div>
                        {%- endif -%}
                      </div> -->
                    </td>
  
                    <td class="cart-item__quantity text-center">
                      <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
                        {{ 'products.product.quantity.label' | t }}
                      </label>
                      <quantity-input class="quantity {% if section.settings.quantity_type == 'invert' %}quantity_selector_type_invert{% endif %}">
                        <button class="quantity__button no-js-hidden" name="minus" type="button">
                          <svg width="15px" height="4px" viewBox="0 0 15 4" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="❤️-Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="stepper" transform="translate(-8.000000, -17.000000)" fill="#484848">
                                    <g id="Group-2" transform="translate(-0.035885, 4.000000)">
                                        <rect id="Rectangle" x="8.68421053" y="13.4210526" width="13.4210526" height="3.15789474"></rect>
                                    </g>
                                </g>
                            </g>
                          </svg>
                        </button>
                        <input class="quantity__input"
                          type="number"
                          name="updates[]"
                          value="{{ item.quantity }}"
                          min="0"
                          aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                          id="Quantity-{{ item.index | plus: 1 }}"
                          data-index="{{ item.index | plus: 1 }}"
                        >
                        <button class="quantity__button no-js-hidden" name="plus" type="button">
                          <svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <g id="❤️-Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                  <g id="stepper" transform="translate(-85.000000, -12.000000)" fill="#484848">
                                      <g id="Group" transform="translate(78.035885, 4.000000)">
                                          <path d="M16.2828947,8.68421053 L16.2827368,13.7162105 L21.3157895,13.7171053 L21.3157895,17.0723684 L16.2827368,17.0722105 L16.2828947,22.1052632 L12.9276316,22.1052632 L12.9267368,17.0722105 L7.89473684,17.0723684 L7.89473684,13.7171053 L12.9267368,13.7162105 L12.9276316,8.68421053 L16.2828947,8.68421053 Z" id="Combined-Shape"></path>
                                      </g>
                                  </g>
                              </g>
                          </svg>
                        </button>
                      </quantity-input>
                    </td>
  
                    <td class="cart-item__totals right small-hide">
                      <div class="cart-item__price-wrapper">
                        {%- if item.original_line_price != item.final_line_price -%}
                          <dl class="cart-item__discounted-prices">
                            <dt class="visually-hidden">
                              {{ 'products.product.price.regular_price' | t }}
                            </dt>
                            <dd>
                              <s class="cart-item__old-price price price--end">
                                {{ item.original_line_price | money }}
                              </s>
                            </dd>
                            <dt class="visually-hidden">
                              {{ 'products.product.price.sale_price' | t }}
                            </dt>
                            <dd class="price price--end">
                              {{ item.final_line_price | money }}
                            </dd>
                          </dl>
                        {%- else -%}
                          <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
                            {{ 'sections.cart.headings.total' | t }}
                          </label>
                          <span class="price price--end">
                            {{ item.original_line_price | money }}
                          </span>
                        {%- endif -%}
  
                        {%- if item.variant.available and item.unit_price_measurement -%}
                          <div class="unit-price caption">
                            <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                            {{ item.variant.unit_price | money }}
                            <span aria-hidden="true">/</span>
                            <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                            {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                              {{- item.variant.unit_price_measurement.reference_value -}}
                            {%- endif -%}
                            {{ item.variant.unit_price_measurement.reference_unit }}
                          </div>
                        {%- endif -%}
                      </div>
                    </td>
                  </tr>
                {%- endfor -%}
              </tbody>
            </table>
          {%- endif -%}
        </div>
      </div>
  
      <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
      <p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
    </form>
  </cart-items>
  </div>

{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-cart-items.settings.show_vendor.label"
    },
    {
      "type": "select",
      "id": "quantity_type",
      "label": "Quantity Selector Type",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "invert",
          "label": "Invert"
        }
      ]
    }
  ]
}
{% endschema %}
