{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{% liquid 
  assign related_products_handles = ''
  assign tags = article.tags | split: ','
  for tag in article.tags 
    assign splitted = tag | split: ':'
    if splitted[0] == 'relatedproduct'
      assign related_products_handles = related_products_handles | append: splitted[1] | append: ','
    elsif splitted[0] == 'relatedvideo'
      assign related_video = splitted[1]
    endif
  endfor
  
  assign related_product_handles_array = related_products_handles | split: ','

%}

<article class="article-template large-container mb-24 lg:mb-48" itemscope itemtype="http://schema.org/BlogPosting">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when '@app' -%}
        <div class="page-width page-width--narrow">
          {% render block %}
        </div>

      {%- when 'title'-%}
        <header class="page-width smallest-container page-width--narrow" {{ block.shopify_attributes }}>
          <h1 class="article-template__title" itemprop="headline">{{ article.title | escape }}</h1>
          {%- if block.settings.blog_show_date -%}
            <span class="circle-divider caption-with-letter-spacing" itemprop="dateCreated pubdate datePublished">{{ article.published_at | time_tag: format: 'date' }}</span>
          {%- endif -%}
          {%- if block.settings.blog_show_author -%}
            <span class="caption-with-letter-spacing" itemprop="author" itemscope itemtype="http://schema.org/Person">
              <span itemprop="name">{{ article.author }}</span>
            </span>
          {%- endif -%}
        </header>  

      {%- when 'featured_image'-%}
        {%- if article.image -%}
          <div class="article-template__hero-container smallest-container" {{ block.shopify_attributes }}>
            <div class="article-template__hero-image media" itemprop="image">
              <img
                srcset="{% if article.image.width >= 350 %}{{ article.image | img_url: '350x' }} 350w,{% endif %}
                  {% if article.image.width >= 750 %}{{ article.image | img_url: '750x' }} 750w,{% endif %}
                  {% if article.image.width >= 1100 %}{{ article.image | img_url: '1100x' }} 1100w,{% endif %}
                  {% if article.image.width >= 1500 %}{{ article.image | img_url: '1500x' }} 1500w,{% endif %}
                  {% if article.image.width >= 2200 %}{{ article.image | img_url: '2200x' }} 2200w,{% endif %}
                  {% if article.image.width >= 3000 %}{{ article.image | img_url: '3000x' }} 3000w,{% endif %}
                  {{ article.image | img_url: 'master' }} {{ article.image.width }}w"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                src="{{ article.image | img_url: '1100x' }}"
                loading="lazy"
                width="{{ article.image.width }}"
                height="{{ article.image.height }}"
                alt="{{ article.image.alt | escape }}">
            </div>
          </div>
        {%- endif -%}

        {%- when 'content'-%}
          <div class="article-template__content smallest-container rte" itemprop="articleBody" {{ block.shopify_attributes }}>
              {{ article.content }}

              {% if related_video != blank %} 
                <div class="article-template__video">
                    <iframe src="https://player.vimeo.com/video/{{ related_video }}" class="js-vimeo" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
              {% endif %}
          </div>

        {%- when 'share' -%}
          <div class="article-template__social-sharing smallest-container text-center" {{ block.shopify_attributes }}>
            <h3>{{ 'blogs.article.share' | t }}</h3>
            <div id="blogSharer"></div>
          </div>

        {%- when 'ingredients' -%}
          {% if related_product_handles_array.size > 0 %}
            <div class="collection product-recommendations mt-24 mb-24 lg:mt-48 lg:mb-48">
              <div class="large-container">
                {% render 'section-title', title: block.settings.title, align: block.settings.section_title_align, size: block.settings.section_title_size, multiline: block.settings.section_title_multiline, no_uppercase: block.settings.section_title_nouppercase %}
              </div>
              <div class="product-recommendations__container large-container">
                <!-- <h2 class="product-recommendations__heading">{{ section.settings.title | escape }}</h2> -->
                <div class="product-recommendations__swiper swiper">
                  <div class="swiper-wrapper">
                    {% for h in related_product_handles_array  %}
                        <div class="swiper-slide">
                          {% render 'product-card',
                            product_card_product: all_products[h],
                            from_slider: true,
                            add_to_cart_type: block.settings.add_to_cart_type,
                            card_alignment: block.settings.card_alignment
                          %}
                        </div>
                    {% endfor %}
                  </div>
                  <div class="swiper-button-prev">
                    <img src={{ settings.slider_arrow | img_url: 'master' }} alt="" />
                  </div>
                  <div class="swiper-button-next">
                    <img src={{ settings.slider_arrow | img_url: 'master' }} alt="" />
                  </div>
                </div>
              </div>
            </div>
          {% endif %}

        {%- when 'ricette' -%}
          {%- render 'slider-blog', slider_title: block.settings.title, slider_align: block.settings.section_title_align, slider_multiline: block.settings.section_title_multiline, slider_size: block.settings.section_title_size, slider_handle: block.settings.slider_handle -%}
    {%- endcase -%}
  {%- endfor -%}

  <!-- <div id="blogFeaturedProduct"></div> -->
  <div class="element-margin center">
    <!-- <a href="{{ blog.url }}" class="article-template__link link animate-arrow{% if blog.comments_enabled? == false %} spaced-section{% endif %}">
      <span class="icon-wrap">{% render 'icon-arrow' %}</span>
      {{ 'blogs.article.back_to_blog' | t: title: blog.title }}
    </a> -->
  </div>
  {%- if blog.comments_enabled? -%}
    <div class="article-template__comment-wrapper background-secondary">
      <div id="comments" class="page-width page-width--narrow">
        {%- if article.comments_count > 0 -%}
          {%- assign anchorId = '#Comments-' | append: article.id -%}

          <h2 id="Comments-{{ article.id }}">{{ 'blogs.article.comments' | t: count: article.comments_count }}</h2>
          {% paginate article.comments by 5 %}
            <div class="article-template__comments">
              {%- if comment.status == 'pending' and comment.content -%}
                <article id="{{ comment.id }}" class="article-template__comments-comment">
                  {{ comment.content }}
                  <footer class="right">
                    <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span>
                  </footer>
                </article>
              {%- endif -%}

              {%- for comment in article.comments -%}
                <article id="{{ comment.id }}" class="article-template__comments-comment">
                  {{ comment.content }}
                  <footer class="right">
                    <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span><span class="caption-with-letter-spacing">{{ comment.created_at | time_tag: format: 'date' }}</span>
                  </footer>
                </article>
              {%- endfor -%}
              {% render 'pagination', paginate: paginate, anchor: anchorId %}
            </div>
          {% endpaginate %}
        {%- endif -%}
        {% form 'new_comment', article %}
          {%- liquid
            assign post_message = 'blogs.article.success'
            if blog.moderated? and comment.status == 'unapproved'
              assign post_message = 'blogs.article.success_moderated'
            endif
          -%}
          <h2>{{ 'blogs.article.comment_form_title' | t }}</h2>
          {%- if form.errors -%}
            <div class="form__message" role="alert">
              <h3 class="form-status caption-large" tabindex="-1" autofocus>
                {% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}
              </h3>
            </div>
            <ul class="form-status-list caption-large">
              {%- for field in form.errors -%}
                <li>
                  <a href="#CommentForm-{{ field }}" class="link">
                    {%- if form.errors.translated_fields[field] contains 'author' -%}
                      {{ 'blogs.article.name' | t }}
                    {%- elsif form.errors.translated_fields[field] contains 'body'-%}
                     {{ 'blogs.article.message' | t }}
                    {%- else -%}
                      {{ form.errors.translated_fields[field] }}
                    {%- endif -%}
                    {{ form.errors.messages[field] }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- elsif form.posted_successfully? -%}
            <div class="form-status-list form__message" role="status">
              <h3 class="form-status" tabindex="-1" autofocus>{% render 'icon-success' %} {{ post_message | t }}</h3>
            </div>
          {%- endif -%}

          <div{% if blog.moderated? == false %} class="article-template__comments-fields"{% endif %}>
            <div class="article-template__comment-fields">
              <div class="field field--with-error">
                <input
                  type="text"
                  name="comment[author]"
                  id="CommentForm-author"
                  class="field__input"
                  autocomplete="name"
                  value="{{ form.author }}"
                  aria-required="true"
                  {% if form.errors contains 'author' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-author-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.name' | t }}"
                >
                <label class="field__label" for="CommentForm-author">{{ 'blogs.article.name' | t }} <span aria-hidden="true">*</span></label>
                {%- if form.errors contains 'author' -%}
                  <small id="CommentForm-author-error">
                    <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.name' | t }} {{ form.errors.messages['author'] }}.</span>
                  </small>
                {%- endif -%}
              </div>
              <div class="field field--with-error">
                <input
                  type="email"
                  name="comment[email]"
                  id="CommentForm-email"
                  autocomplete="email"
                  class="field__input"
                  value="{{ form.email }}"
                  autocorrect="off"
                  autocapitalize="off"
                  aria-required="true"
                  {% if form.errors contains 'email' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-email-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.email' | t }}"
                >
                <label class="field__label" for="CommentForm-email">{{ 'blogs.article.email' | t }} <span aria-hidden="true">*</span></label>
                {%- if form.errors contains 'email' -%}
                  <small id="CommentForm-email-error">
                    <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.email' | t }} {{ form.errors.messages['email'] }}.</span>
                  </small>
                {%- endif -%}
              </div>
            </div>
            <div class="field field--with-error">
              <textarea
                rows="5"
                name="comment[body]"
                id="CommentForm-body"
                class="text-area field__input"
                aria-required="true"
                {% if form.errors contains 'body' %}
                  aria-invalid="true"
                  aria-describedby="CommentForm-body-error"
                {% endif %}
                placeholder="{{ 'blogs.article.message' | t }}"
              >{{ form.body }}</textarea>
                <label class="form__label field__label" for="CommentForm-body">{{ 'blogs.article.message' | t }} <span aria-hidden="true">*</span></label>
            </div>
            {%- if form.errors contains 'body' -%}
              <small id="CommentForm-body-error">
                <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.message' | t }} {{ form.errors.messages['body'] }}.</span>
              </small>
            {%- endif -%}
          </div>
          {%- if blog.moderated? -%}
            <p class="article-template__comment-warning caption">{{ 'blogs.article.moderated' | t }}</p>
          {%- endif -%}
          <input type="submit" class="button" value="{{ 'blogs.article.post' | t }}">
        {% endform %}
      </div>
  </div>
  {%- endif -%}
</article>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ shop.url | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "image": [
        {{ article | img_url: image_size | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if settings.share_image %}
        {% assign image_size = settings.share_image.width | append: 'x' %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ settings.share_image.height | json }},
          "url": {{ settings.share_image | img_url: image_size | prepend: "https:" | json }},
          "width": {{ settings.share_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
  </script>

  <script>
    window.BLOG_POST = {{ article | json }};
    window.BLOG_POST.url = location.href;
    window.BLOG_POST.socialSharing = {
      facebook: {{ section.settings.facebook | json }},
      facebookIcon: {{ section.settings.facebook_icon | json }},

      whatsapp: {{ section.settings.whatsapp | json }},
      whatsappIcon: {{ section.settings.whatsapp_icon | json }},

      email: {{ section.settings.email | json }},
      emailIcon: {{ section.settings.email_icon | json }},

      twitter: {{ section.settings.twitter | json }},
      twitterIcon: {{ section.settings.twitter_icon | json }}

    }

    var swiper = new Swiper('.product-recommendations__swiper', {
      // Optional parameters
      loop: false,
      slidesPerView: 1.5,
      spaceBetween: 24,
      centerInsufficientSlides: true,
  
      breakpoints: {
        // when window width is >= 480px
        480: {
          slidesPerView: 2.5,
        },
        // when window width is >= 640px
        1024: {
          slidesPerView: 3,
          spaceBetween: 40
        }
      },
  
      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>


{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Social Sharing"
    },
    {
      "type": "image_picker",
      "id": "facebook_icon",
      "label": "Facebook Icon"
    },
    {
      "type": "checkbox",
      "id": "facebook",
      "label": "Facebook",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "whatsapp_icon",
      "label": "Whatsapp Icon"
    },
    {
      "type": "checkbox",
      "id": "whatsapp",
      "label": "Whatsapp",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "email_icon",
      "label": "Email Icon"
    },
    {
      "type": "checkbox",
      "id": "email",
      "label": "Email",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "twitter_icon",
      "label": "Twitter Icon"
    },
    {
      "type": "checkbox",
      "id": "twitter",
      "label": "Twitter",
      "default": false
    },
    {
      "type": "select",
      "id": "add_to_cart_type",
      "label": "Add To Cart Type",
      "options": [
        {
          "value": "icon",
          "label": "Icon"
        },
        {
         "value": "button",
         "label": "Button"
       }
      ]
    },
    {
      "type": "checkbox",
      "id": "card_alignment",
      "label": "Card Text Center Alignment",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "featured_image",
      "name": "t:sections.main-article.blocks.featured_image.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "image_height",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__1.label"
            },
            {
              "value": "small",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__2.label"
            },
            {
              "value": "medium",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__3.label"
            },
            {
              "value": "large",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__4.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.main-article.blocks.featured_image.settings.image_height.label",
          "info": "t:sections.main-article.blocks.featured_image.settings.image_height.info"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": false,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_author.label"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-article.blocks.share.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-article.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.title_info.content"
        }
      ]
    },
    {
      "type": "ingredients",
      "name": "Ingredients",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.featured-collection.settings.title.label"
        },
        {
          "type": "select",
          "id": "section_title_align",
          "label": "Section Title Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "section_title_size",
          "label": "Section Title Size",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "smaller",
              "label": "Smaller"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "section_title_multiline",
          "label": "Section Title Multiline",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "section_title_nouppercase",
          "label": "Section Title No Uppercase",
          "default": false
        },
        {
          "type": "select",
          "id": "add_to_cart_type",
          "label": "Add To Cart Type",
          "options": [
            {
              "value": "icon",
              "label": "Icon"
            },
            {
             "value": "button",
             "label": "Button"
           }
          ]
        },
        {
          "type": "checkbox",
          "id": "card_alignment",
          "label": "Card Text Center Alignment",
          "default": false
        }
      ]
    },
    {
      "type": "ricette",
      "name": "Recipes",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.featured-collection.settings.title.label"
        },
        {
          "type": "select",
          "id": "section_title_align",
          "label": "Section Title Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "section_title_size",
          "label": "Section Title Size",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "smaller",
              "label": "Smaller"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "section_title_multiline",
          "label": "Section Title Multiline",
          "default": false
        },
        {
          "type": "text",
          "id": "slider_handle",
          "label": "Slider Handle"
        }
      ]
    }
  ]
}
{% endschema %}
