<div class="template-404 mt-24 mb-24 lg:mt-48 lg:mb-48">
  <div class="large-container">
    <div class="image flex justify-center">
      <img src="{{ '404-image.png' | asset_img_url: '768x' }}" class="no-radius" loading="lazy" />
    </div>
    <div class="content text-center">
      <h1 class="title">
        {{ 'templates.404.title' | t }}
      </h1>
      <p class="my-16">
        {{ 'templates.404.subtext' | t }}
      </p>
      <a href="{{ routes.all_products_collection_url }}" class="button button--primary button--big">
        {{ 'general.continue_shopping' | t }}
      </a>
    </div>
  </div>
</div>
<script id="esc-redirects-404-script" src="https://redirects.eastsideco.io/js/app.js"></script> {% include 'BrokenLinkRedirect' %}