<div class="color-{{ section.settings.color_scheme }} gradient" style="text-align: center; margin-top: 40px;">
  <div class="logo-container" style="display: inline-block;">
    {%- if section.settings.logo -%}
      <img
        src="{{ section.settings.logo | img_url: '500x500' }}"
        class="password-logo"
        alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
        style="max-width: {{ section.settings.logo_max_width }}px"
        width="{{ section.settings.logo_max_width }}"
        height="{{ section.settings.logo_max_width | divided_by: section.settings.logo.aspect_ratio }}"
        loading="lazy"
      >
    {%- else -%}
      <h1 class="h2">{{ shop.name }}</h1>
    {%- endif -%}
  </div>

  {%- if shop.password_message != blank -%}
    <div class="password-content">
      {{ shop.password_message }}
    </div>
  {%- endif -%}


  {%- form 'storefront_password', class: 'password-form inline-block' -%}
    <div class="password-field  inline-block {% if form.errors %} password-field--error{% endif %}">
      <label class="field__label" for="{{ 'general.password_page.login_form_password_label' | t }}">{{ 'general.password_page.login_form_password_placeholder' | t }}</label>
      <input
        type="password"
        name="password"
        id="Password"
        class="field__input input"
        autocomplete="current-password"
        {% if form.errors %}
          aria-invalid="true"
          aria-describedby="PasswordLoginForm-password-error"
        {%- endif -%}
        placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
      >
      {%- if form.errors -%}
        <div id="PasswordLoginForm-password-error" role="status">
          <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
          <span class="form__message">{{ 'general.password_page.login_form_error' | t }}</span>
        </div>
      {%- endif -%}
    </div>
    <button name="commit" class="password-button button button--primary button--outline">
      {{ 'general.password_page.login_form_submit' | t }}
    </button>
  {%- endform -%}

</div>
{%- if section.settings.color_scheme == 'background-1' -%}<hr>{%- endif -%}

{% schema %}
{
  "name": "t:sections.main-password-header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.main-password-header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.main-password-header.settings.logo_max_width.unit",
      "label": "t:sections.main-password-header.settings.logo_max_width.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.main-password-header.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.main-password-header.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.main-password-header.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.main-password-header.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.main-password-header.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.main-password-header.settings.color_scheme.label"
    }
  ]
}
{% endschema %}
