<script>
  window.MENU_CONFIGS = {
    blocks: [],
    type: "{{ section.settings.menuType }}",
    socials: {
      youtube: "{{ settings.social_youtube_link }}",
      facebook: "{{ settings.social_facebook_link }}",
      instagram: "{{ settings.social_instagram_link }}"
    },
    enabledSocials: {{ section.settings.enabledSocials | json }},
    {% if section.settings.menuBackground != blank %}
    backgroundImage: "{{ section.settings.menuBackground | img_url: '640x' }}"
    {% endif %}
  }

  {% for block in section.blocks %}
    {% if block.type == "menuBlock" %}
      var block = {}
      block.url = "/collections/{{ block.settings.menuBlock.handle }}";
      block.title = "{{ block.settings.menuBlock.title }}";

      {% if linklists[block.settings.menuBlock].links.size > 0 %}
        block.children = [];

        {% for link in linklists[block.settings.menuBlock].links %}
          var childBlock = {}
          childBlock.url = "{{ link.url }}";
          childBlock.title = "{{ link.title }}";
          
          {% if link.links.size > 0 %}
            childBlock.children = [];

            {% for sub_link in link.links %}
              var childChildBlock = {}
              childChildBlock.url = "{{ sub_link.url }}";
              childChildBlock.title = "{{ sub_link.title }}";
              childBlock.children.push(childChildBlock);
            {% endfor %}
          {% endif %}

          block.children.push(childBlock);           
        {% endfor %}
          // {% if link.links.size > 0 %}
          //   block.children = [];

          //   {% for child_link in link.links %}
          //     var childBlock = {};
          //     childBlock.url = "{{ child_link.url }}";
          //     childBlock.title = "{{ child_link.title }}";
          //   {% endfor %}
          // {% endif %}

      {% endif %}
          
      window.MENU_CONFIGS.blocks.push(block);

    {% else %}
        var block = {}
        block.url = "{{ block.settings.menuLinkUrl }}";
        block.title = "{{ block.settings.menuLinkLabel }}";

        window.MENU_CONFIGS.blocks.push(block);
    {% endif %}

  {% endfor %}

</script>

{% schema %}
{
  "name": "Menu",
  "settings": [
   {
     "type": "select",
     "id": "menuType",
     "label": "Menu Type",
     "options": [
       {
         "value": "hamburger",
         "label": "Hamburger"
       },
       {
        "value": "horizontal",
        "label": "Horizontal"
      }
     ]
   },
    {
      "type": "checkbox",
      "id": "enabledSocials",
      "label": "Enable socials",
      "default": true
    },
   {
     "type": "image_picker",
     "id": "menuBackground",
     "label": "Background"
   }
  ],
  "blocks": [
    {
      "type": "menuBlock",
      "name": "Menu Block",
      "settings": [    
        {
          "type": "link_list",
          "id": "menuBlock",
          "label": "label",
          "default": "main-menu"
        }
      ]
    },
    {
      "type": "menuLink",
      "name": "Menu Link",
      "settings": [
        {
          "type": "text",
          "id": "menuLinkLabel",
          "label": "Label",
          "default": "Test link"
        },
        {
          "type": "url",
          "id": "menuLinkUrl",
          "label": "Url",
          "default": "/collections"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "menuBlock"
      }, 
      {
       "type": "menuLink"
      },
      {
        "type": "menuLink"
      }
    ]
  }
} 
{% endschema %}