<style>

  .stop-scrolling {
    height: 100%;
    overflow: hidden;
  }
</style>

<div class="ajax-cart__drawer js-ajax-cart-drawer kdo--ajax" id="ajax-cart">
</div>

<script>
  window.MINICART_SETTINGS = window.MINICART_SETTINGS || {
    quantitySelectorType: {{ section.settings.quantity_type | json }}
  }
</script>

{% schema %}
{
  "name": "Minicart",
  "settings": [
    {
      "type": "select",
      "id": "quantity_type",
      "label": "Quantity Selector Type",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "invert",
          "label": "Invert"
        }
      ]
    }
  ]
}
{% endschema %}