{% assign black_image = settings.black_image_left %}
{% assign white_image = settings.white_image_left %}

<div class="lg:mb-24">
  <div class="newsletter__section {% if section.settings.color_schema == 'positive' %}positive-section{% else %}negative-section{% endif %}"
    {% if black_image != blank and section.settings.color_schema == 'positive' %}style="background-image: url({{ black_image | img_url: '600x' }});background-repeat: no-repeat;background-position: top left;background-size: 40%;"{% endif %}
    {% if white_image != blank and section.settings.color_schema == 'negative' %}style="background-image: url({{ white_image | img_url: '600x' }});background-repeat: no-repeat;background-position: top left;background-size: 40%;"{% endif %}>
    <div class="newsletter__section-wrapper large-container">
      <div class="pt-24 pb-24">
        <div class="grid grid-cols-1 lg:grid-cols-2">
          <div class="newsletter__section-info pr-0 lg:pr-12">
            {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when '@app' -%}
                {% render block %}
              {%- when 'heading' -%}
                <h2 class="h1" {{ block.shopify_attributes }}>{{ block.settings.heading | escape }}</h2>
              {%- when 'paragraph' -%}
                <div class="newsletter__subheading rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
            {%- endcase -%}
            {%- endfor -%}
          </div>
          <div class="newsletter__section-form__container mt-8 lg:mt-0">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'email_form' -%}
                  <div {{ block.shopify_attributes }}>
                    <div id="newsletter-form">
                  </div>
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.newsletter.name",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "select",
      "id": "color_schema",
      "label": "Color Schema",
      "options": [
        {
          "value": "positive",
          "label": "Positive"
        },
        {
          "value": "negative",
          "label": "Negative"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "paragraph",
      "content": "t:sections.newsletter.settings.paragraph.content"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.newsletter.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Subscribe to our emails",
          "label": "t:sections.newsletter.blocks.heading.settings.heading.label"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "t:sections.newsletter.blocks.paragraph.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Be the first to know about new collections and exclusive offers.</p>",
          "label": "t:sections.newsletter.blocks.paragraph.settings.paragraph.label"
        }
      ]
    },
    {
      "type": "email_form",
      "name": "t:sections.newsletter.blocks.email_form.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "paragraph"
        },
        {
          "type": "email_form"
        }
      ]
    }
  ]
}
{% endschema %}
