{%- if predictive_search.performed -%}
  <div class="search__results-container">
    <div id="predictive-search-results">
      <div class="search__results-container__collections">
        {%- if predictive_search.resources.collections.size > 0 -%} 
          <h2 id="predictive-search-products" class="predictive-search__heading text-darkGrey text-xs uppercase">
            {{ 'templates.search.collections' | t }}

            <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </h2>
        {%- endif -%}
        <ul id="predictive-search-results-list-collections" class="predictive-search__results-list list-unstyled" role="listbox" aria-labelledby="predictive-search-collections">
          {%- for collection in predictive_search.resources.collections -%}
            <li class="predictive-search__list-item font-heading text-md mb-4" role="option" aria-selected="false">
              <a href="{{ collection.url }}" class="predictive-search__item predictive-search__item--link link link--text" tabindex="-1">
                {{ collection.title }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
      <div class="search__results-container__products">
        <ul id="predictive-search-results-list" class="predictive-search__results-list list-unstyled grid grid-cols-1 lg:grid-cols-2" role="listbox" aria-labelledby="predictive-search-products">
          {%- for product in predictive_search.resources.products -%}
            <li id="predictive-search-option-{{ forloop.index }}" class="predictive-search__list-item" role="option" aria-selected="false">
              <a href="{{ product.url }}" class="predictive-search__item predictive-search__item--link link link--text" tabindex="-1">
                <div class="predictive-search__item-container flex">
                  {%- if product.featured_media != blank -%}
                    <div class="predictive-search__image flex-30%">
                      <img
                        src="{{ product.featured_media | img_url: '150x' }}"
                        alt="{{ product.featured_media.alt }}"
                        width="50"
                        height="{{ 50 | divided_by: product.featured_media.preview_image.aspect_ratio }}"
                        loading="lazy"
                      >
                    </div>
                  {%- endif -%}
                  <div class="predictive-search__item-content flex-70%{% unless settings.predictive_search_show_vendor or settings.predictive_search_show_price %} predictive-search__item-content--centered{% endunless %}">
                      <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span><div class="predictive-search__item-vendor caption-with-letter-spacing">{{ product.vendor }}</div>
                    <h3 class="predictive-search__item-heading h5">{{ product.title }}</h3> 
                    {%- if settings.predictive_search_show_price -%}
                      {% render 'price', product: product, use_variant: true, show_badges: false %} 
                    {%- endif -%}
                  </div>
                </div>
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>

      <div id="predictive-search-option-search-keywords" class="predictive-search__show-more" role="option">
        <button class="button--primary button--medium" tabindex="-1">
          {{ 'templates.search.search_for' | t: terms: predictive_search.terms }}
        </button>
      </div>

      <div class="predictive-search__loading-state" aria-hidden="true">
        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
        </svg>
      </div>
    </div>

  </div>

  <span class="hidden" data-predictive-search-live-region-count-value>
    {%- if search.results_count == 0 -%}
      {{ 'templates.search.no_results' | t: terms: predictive_search.terms }}
    {%- else -%}
      {{ 'templates.search.results_with_count' | t: terms: predictive_search.terms, count: predictive_search.resources.products.size }}
    {%- endif -%}
  </span>
{%- endif -%}
