
<product-recommendations class="product-recommendations" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=4">
  <div class="mt-24 mb-24 lg:mt-48 lg:mb-48 ">
    {% if recommendations.performed and recommendations.products_count > 0 %}
      <div class="product-recommendations__container large-container relative">
          {% render 'section-background', align: section.settings.section_background_align %}
          {% render 'section-title', title: section.settings.section_title, align: section.settings.section_title_align, size: section.settings.section_title_size, multiline: section.settings.section_title_multiline, no_uppercase: section.settings.section_title_nouppercase %}
          <div class="product-recommendations__swiper overflow-hidden">
            <div class="swiper-wrapper">
              {% for recommendation in recommendations.products %}
                <div class="swiper-slide">
                  {% render 'product-card',
                    product_card_product: recommendation,
                    media_size: section.settings.image_ratio,
                    show_secondary_image: section.settings.show_secondary_image,
                    add_image_padding: section.settings.add_image_padding,
                    show_vendor: section.settings.show_vendor,
                    show_image_outline: section.settings.show_image_outline,
                    show_rating: section.settings.show_rating,
                    from_slider: true,
                    add_to_cart_type: section.settings.add_to_cart_type,
                    card_alignment: section.settings.card_alignment
                  %}
                </div> 
              {% endfor %}
            </div>
      
            <div class="swiper-button-prev">
              <img src={{ settings.slider_arrow | img_url: 'master' }} alt="" />
            </div>
            <div class="swiper-button-next">
              <img src={{ settings.slider_arrow | img_url: 'master' }} alt="" />
            </div>
          </div>
      </div>
    {% endif %}
  </div>
</product-recommendations>

{% javascript %}
  class ProductRecommendations extends HTMLElement {
    constructor() {
      super();

      const handleIntersection = (entries, observer) => {
        if (!entries[0].isIntersecting) return;
        observer.unobserve(this);

        fetch(this.dataset.url)
          .then(response => response.text())
          .then(text => {
            const html = document.createElement('div');
            html.innerHTML = text;
            const recommendations = html.querySelector('product-recommendations');
            if (recommendations && recommendations.innerHTML.trim().length) {
              this.innerHTML = recommendations.innerHTML;

              var sliderAddToCart = document.querySelectorAll('.product__slider__addtocart');

              sliderAddToCart.forEach(function (btn) {
                btn.addEventListener('click', function (e) {
                  window.addToCart(1, this.dataset.id);
                });
              })

              var swiper = new Swiper('.product-recommendations__swiper', {
                // Optional parameters
                loop: true,
                slidesPerView: 1.5,
                spaceBetween: 24,
            
                breakpoints: {
                  // when window width is >= 480px
                  480: {
                    slidesPerView: 2.5,
                  },
                  // when window width is >= 640px
                  1024: {
                    slidesPerView: 3,
                    spaceBetween: 40
                  }
                },
            
                // Navigation arrows
                navigation: {
                  nextEl: '.swiper-button-next',
                  prevEl: '.swiper-button-prev',
                },
              });
            }
          })
          .catch(e => {
            console.error(e);
          });
      }

      new IntersectionObserver(handleIntersection.bind(this), {rootMargin: '0px 0px 200px 0px'}).observe(this);
    }
  }

  customElements.define('product-recommendations', ProductRecommendations);
{% endjavascript %}

{% schema %}
{
  "name": "Product Recommendations",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title"
    },
    {
      "type": "select",
      "id": "section_title_align",
      "label": "Section Title Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_background_align",
      "label": "Section Background Align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_title_size",
      "label": "Section Title Size",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "smaller",
          "label": "Smaller"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "section_title_multiline",
      "label": "Section Title Multiline",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "section_title_nouppercase",
      "label": "Section Title No Uppercase",
      "default": false
    },
    {
      "type": "select",
      "id": "add_to_cart_type",
      "label": "Add To Cart Type",
      "options": [
        {
          "value": "icon",
          "label": "Icon"
        },
        {
         "value": "button",
         "label": "Button"
       }
      ]
    },
    {
      "type": "checkbox",
      "id": "card_alignment",
      "label": "Card Text Center Alignment",
      "default": false
    }
  ],
  "presets": [
    {
        "name": "Product Recommendations",
        "category": "Sections"
    }
  ]
}
{% endschema %}