{%- render 'slider-blog', slider_title: section.settings.title, slider_description: section.settings.section_description, slider_align: section.settings.section_title_align, slider_multiline: section.settings.section_title_multiline, slider_size: section.settings.section_title_size, slider_handle: section.settings.slider_handle, slider_card_arrow: section.settings.slider_card_arrow_cta -%}

{% schema %}
{
  "name": "Slider Blog",
  "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "t:sections.featured-collection.settings.title.label"
      },
      {
        "type": "select",
        "id": "section_title_align",
        "label": "Section Title Alignment",
        "options": [
          {
            "value": "left",
            "label": "Left" 
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "section_title_size",
        "label": "Section Title Size",
        "options": [
          {
            "value": "normal",
            "label": "Normal"
          },
          {
            "value": "smaller",
            "label": "Smaller"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "section_title_multiline",
        "label": "Section Title Multiline",
        "default": false
      },
      {
        "type": "richtext",
        "id": "section_description",
        "label": "Section Description"
      },
      {
        "type": "text",
        "id": "slider_handle",
        "label": "Slider Handle"
      },
      {
        "type": "checkbox",
        "id": "slider_card_arrow_cta",
        "label": "Slider Card Arrow Enabled",
        "default": true
      }
  ],
  "presets": [
    {
        "name": "Slider Blog",
        "category": "Sections"
    }
  ]
}
{% endschema %}