<div id="slider-fullscreen-root-{{ section.id }}"></div>

<script>
  window.SLIDER_FULLSCREEN = {
    id: {{ section.id | json }},
    elementId: 'slider-fullscreen-root-{{ section.id }}',
    slides: []
  };

  {% for slide in section.blocks %}
    window.SLIDER_FULLSCREEN.slides.push({
      {% if slide.settings.slide_image != blank %}
        image: {
          '1260w': {{ slide.settings.slide_image | img_url: '1260x', format: 'pjpg' | json }},
          '1440w': {{ slide.settings.slide_image | img_url: '1440x', format: 'pjpg' | json }},
          '1620w': {{ slide.settings.slide_image | img_url: '1620x', format: 'pjpg' | json }},
          '1800w': {{ slide.settings.slide_image | img_url: '1800x', format: 'pjpg' | json }},
          '2048w': {{ slide.settings.slide_image | img_url: '2048x', format: 'pjpg' | json }}
        },
      {% endif %}
      {% if slide.settings.slide_image_mobile != blank %}
        mobileImage: {
          // '360w': {{ slide.settings.slide_image_mobile | img_url: '360x', format: 'pjpg' | json }},
          '540w': {{ slide.settings.slide_image_mobile | img_url: '540x', format: 'pjpg' | json }},
          '720w': {{ slide.settings.slide_image_mobile | img_url: '720x', format: 'pjpg' | json }},
          '900w': {{ slide.settings.slide_image_mobile | img_url: '900x', format: 'pjpg' | json }},
          '1080w': {{ slide.settings.slide_image_mobile | img_url: '1080x', format: 'pjpg' | json }}
        },
      {% endif %}
      title: {{ slide.settings.slide_title | json }},
      description: {{ slide.settings.slide_description | json }},
      ctaUrl: {{ slide.settings.slide_cta_url | json }},
      ctaLabel: {{ slide.settings.slide_cta_label | json }},
      textColor: {{ slide.settings.slide_text_color | json }},
      textColorMobile: {{ slide.settings.slide_text_color_mobile | json }},
    })
  {% endfor %}
</script>

{% schema %}
{
  "name": "Slider Fullscreen",
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "slide_image",
          "label": "Slide Image"
        },
        {
          "type": "image_picker",
          "id": "slide_image_mobile",
          "label": "Slide Image Mobile (portrait)"
        },
        {
          "type": "text",
          "id": "slide_title",
          "label": "Slide Title"
        },
        {
          "type": "textarea",
          "id": "slide_description",
          "label": "Slide Description"
        },
        {
          "type": "url",
          "id": "slide_cta_url",
          "label": "Slide Cta Url"
        },
        {
          "type": "text",
          "id": "slide_cta_label",
          "label": "Slide Cta Label"
        },
        {
          "type": "select",
          "id": "slide_text_color",
          "label": "Slide Text Color",
          "options": [
            {
              "value": "positive",
              "label": "Positive"
            },
            {
              "value": "negative",
              "label": "Negative" 
            }
          ]
        },
        {
          "type": "select",
          "id": "slide_text_color_mobile",
          "label": "Slide Text Color Mobile",
          "options": [
            {
              "value": "positive",
              "label": "Positive"
            },
            {
              "value": "negative",
              "label": "Negative" 
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
        "name": "Slider Fullscreen",
        "category": "Sections"
    }
  ]
}
{% endschema %}