<section class="large-container">
  <div class="rte mt-24 mb-24 lg:mt-48 lg:mb-48">
    <h2>{{ section.settings.title }}</h2>
    <p>
      {{ section.settings.text }}
    </p>
  </div>
</section>

{% schema %}
{
  "name": "Title and Paragraph",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "Title and Paragraph",
      "category": "Sections"
    }
  ]
}
{% endschema %}