<link rel="stylesheet" href="{{ 'section-zooomy-wishlist.css' | asset_url }}" media="print" onload="this.media='all'">
<!-- <link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ "tailwind.min.css" | asset_url }}" media="print" onload="this.media='all'"> -->


<noscript>{{ 'section-zooomy-wishlist.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="large-container mb-24 lg:mb-48">
  <h1 class="zooomy-wishlist-title page-title h0">
    {{ page.title | escape }}
  </h1>
  <div class="rte">
   {{page.content}} <div  id='ZoomyWishlistPage'></div><script src='https://zooomyapps.com/wishlist/ListWishlist.js' data-shop-id='{{shop.permanent_domain}}' data-customer-id='{{customer.id}}' data-customer-email='{{customer.email}}' ></script>

  </div>
</div>

{% schema %}
{
  "name": "t:sections.zooomy-wishlist.name",
  "tag": "section",
  "class": "spaced-section"
}
{% endschema %}
