.article-card {
  max-width: $articleCard__width;
  height: $articleCard__height;
  border: 1px solid $light-grey;
  border-radius: $radius-card;
  display: flex; 
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 457px;
  margin: 0 auto;
  
  .article-card__image {
    position: absolute;
    width: 100%;
    height: 276px;

    img {
      width: 100%; 
      height: 100%;
      object-fit: cover; 
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .article-cta {
    text-align: right;
    margin-top: auto;

    font-family: $font-body-family;
    font-size: 13px;
    font-weight: 800;
    color: $font-body-color;
    text-transform: uppercase;

    a {
      display: flex;
      align-items: center;
      justify-content: end;
    }

    span {
      border-radius: 50%;
      background: $color2;
      width: 25px;
      height: 25px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;

      img {
        margin-left: 2px;
      }
    }
  }

  .article-card__details {
    width: 100%;
    align-self: end;
    position: relative;
    background-color: $white;    
    padding: $cardInfoPadding__desktop;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    height: calc(100% - 276px);
  }
}

@media (max-width: $mobile-breakpoint) {
  .article-card {
    min-width: 100% !important;
  }
}