.main-blog-title {
  span {
    text-transform: none !important;
  }
}

.article-template {
  .article-template__title {
    font-weight: 700;
    font-family: $font-heading-family;
    color: $font-heading-color;
  }

  .article-template__social-sharing {
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
    padding: 15px 0;

    h3 {
      font-family: $font-heading-family;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 6px;
    }

    svg {
      width: 50px;
      height: 50px;
    }
  }

  .article-template__video {
    padding: 56.25% 0 0 0;
    position: relative;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.featured-blog__wrapper {
  height: 459px;

  .featured-blog__image {
    img {
      max-height: 459px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .featured-blog__details {
    box-sizing: border-box;
    padding-left: 48px;
    display: flex;
    align-items: center;

    .featured-blog__label {
      font-family: $font-body-family;
      font-size: 18px;
      letter-spacing: 2px;
      font-weight: 300;
      line-height: 27px;
      text-transform: uppercase;
    }

    .featured-blog__title {
      font-family: $font-heading-family;
      font-size: 35px;
      font-weight: 700;
    }

    .featured-blog__description {
      margin: 30px 0;
      font-family: $font-body-family;
      font-size: 18px;
      line-height: 27px;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .featured-blog__wrapper {
    height: auto;

    .featured-blog__image {
      height: 330px;
    }

    .featured-blog__details {
      padding-left: 0;
      margin-top: 16px;
    }

    .featured-blog__description {
      margin: 16px 0 !important; 
    }

    .button {
      min-width: 100%;
    }
  }

  .article-template__hero-image {
    height: 330px;

    img {
      object-fit: cover;
      height: 330px;
    }
  }
}