.pagination-wrapper {
  font-family: $font-body-family;
  font-weight: 700;
  font-size: 16px;

  a, a:hover {
    text-decoration: none;
  }

  .pagination__item--current {
    background-color: $pagination-item__current-background-color;
    color: $pagination-item__current-text-color;
    border-radius: $pagination-item__border-radius;
    padding: 7px 12px;
    text-decoration: none;

    &:after {
      content: unset;
    }
  }
}