.product__details-wrapper {

  .product__details-media__slider {
    position: relative;

    .product__details-media__slider__controls {
      position: absolute;
      width: 100%;
      bottom: 23px;
      z-index: 1;
  
      .carousel__dot-group {
        text-align: center;
  
        .carousel__dot {
          width: 19px;
          height: 6px;
          border-radius: 3px;
          background-color: $white;
          margin-right: 8px;
  
          &.carousel__dot--selected {
            background-color: $action-color-text;
          }
        }
      }
    }

    .product__details-media__slider__image {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }

    .carousel__back-button {
      position: absolute;
      top: 50%;
      left: -10px;
      transform: rotate(180deg);
    }

    .carousel__next-button {
      position: absolute;
      top: 50%;
      right: -10px;
    }
  }

  .product__details-quantity__button {
    width: 30px;
    height: 30px;
    background-color: $color1;
    color: $white;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }

  .quantity_selector_type_invert {
    .product__details-quantity__button {
      background-color: $white;
      color: $color1;
    }
  }

  .product__details-quantity__input {
    font-size: 28px;
    font-family: $font-body-family; 
    font-weight: 700;
    width: 50px; 
    border: 0;
    text-align: center;
    color: $font-body-color;
  }

  .product__details-short__description {
    margin-top: 30px;
  }

  .product__details-attributes {
    border-top: 1px solid #D6D5D5;
    padding: 16px 0;

    .product__details-attributes__item {
      display: flex;
      align-items: center;
      padding: 10px;

      .product__details-attributes__item__label {
        font-family: $font-body-family;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
      }

      .product__details-attributes__item__image {
        margin-right: 15px;
        flex: 0 0 auto;

        img {
          width: 45px;
        }
      }
    }
  }

  .product__details-accordion__container {
    margin-top: 50px;

    .product__details-accordion__image {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 100px;
      }
    }
  }

  .product__details-sharer__container {
    border-top: 1px solid #D6D5D5;
    padding: 16px 0;
    display: flex;
    align-items: center;

    .product__details-sharer__label {
      font-family: $font-body-family;
      font-size: 16px;
      line-height: 27px;
      font-weight: 700;
      margin-right: 20px;
      text-transform: uppercase;
    }
  }

  .product__details-extra__info {
    border-top: 1px solid #D6D5D5;
    padding: 16px 0;
    font-family: $font-body-family;
    font-size: 14px;
    font-weight: 400;
  }

  .product__details-cart__button {
    min-width: $button-min-width__large;
  }

  .product__details-vendor {
    font-family: $font-body-family;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
  }

  .product__details-title {
    font-family: $font-heading-family; 
    font-weight: 700;
    font-size: 35.16px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .product__details-wrapper {
    .product__details-cart__button {
      flex: 0 0 75%;
      margin-right: 16px;
      min-width: unset;
      width: 100%;
    }

    .product__details-attributes {
      .product__details-attributes__item {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .product__details-sharer__container {
      .product__details-sharer__label {
        max-width: 30%;
      }
    }
  }
}