.product-card {
  max-width: $cardMaxWidth__desktop;
  min-width: $cardMinWidth__desktop;
  height: $cardHeight__desktop;
  border: 1px solid $light-grey;
  border-radius: $radius-card;
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;

  .product-card__image {
    position: absolute;
    width: 100%;
    height: $cardImageHeight__desktop;

    img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .hover-image {
      position: absolute;
      top: 0;
      opacity: 0;
      object-fit: cover;
      transition: all 0.8s ease-in-out;
    }

    &:hover {
      .hover-image {
        opacity: 1;
      }
    }
  }

  .product-card__details {
    height: calc(100% - $cardImageHeight__desktop);
    width: 100%;
    align-self: end;
    position: relative;
    background-color: $white;
    padding: $cardInfoPadding__desktop;
    display: flex;
    flex-direction: column;
    margin-top: auto;

    .card-price-wrapper {
      margin-top: auto;

      .price {
        position: relative;
      }

      .price__regular,
      .price-item--sale {
        @include bodyFont(
          $cardProductPrice__fontSize__desktop,
          $cardProductPrice__lineHeight__desktop,
          $cardProductPrice__fontSize__mobile,
          $cardProductPrice__lineHeight__mobile,
          $cardProductPrice__fontWeight
        );
      }

      .price__compare {
        @include bodyFont(
          $cardProductSalePrice__fontSize__desktop,
          $cardProductSalePrice__lineHeight__desktop,
          $cardProductSalePrice__fontSize__mobile,
          $cardProductSalePrice__lineHeight__mobile,
          $cardProductSalePrice__fontWeight
        );
        text-decoration: line-through;

        position: absolute;
        top: -100%;
        width: 100%;
      }
    }

    .add-to-cart {
      position: absolute;
      bottom: $cardInfoPadding__desktop;
      right: $cardInfoPadding__desktop;

      &.add-to-cart-button-type {
        position: relative;
        bottom: unset;
        right: unset;
        margin-top: 20px;
        width: 100%;
      }
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .product-card {
    max-width: $cardMaxWidth__mobile;
    min-width: $cardMinWidth__mobile;
    height: $cardHeight__mobile;

    .product-card__details {
      height: calc(100% - $cardImageHeight__mobile);
      padding: $cardInfoPadding__mobile;

      .add-to-cart {
        bottom: $cardInfoPadding__mobile;
        right: $cardInfoPadding__mobile;

        button {
          height: 30px;
          font-size: 12px;
          line-height: 30px;
          font-weight: 400;
          padding: 0;
        }
      }
    }

    .product-card__image {
      height: $cardImageHeight__mobile;
    }
  }
}
