.product__price-container {
  font-family: $font-body-family;
  position: relative;
  margin-top: 40px;

  .product__compare-price {
    color: #16181B;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    position: absolute;
    top: -25px;
    text-decoration: line-through;
  }

  .product__price {
    color: $black;
    font-weight: 700;
    font-size: 24px;
  }
}