.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}


/*CSS CUSTOM PAGINA CONTATTI*/
.large-container.lista-store a{
  font-weight: bolder;
  text-decoration: underline;
}

label.field__label {
    font-family: var(--font-body-family);
    font-size: 13px;
    margin-bottom: 4px;
    text-transform: uppercase;
}

input, textarea{
    background-color: #fff;
    border: 2px solid #e8e8e8;
    border-radius: var(--radius-input);
    color: #231f20;
    max-width: 427px;
    padding: 0 16px;
    transition: all .8s ease-in-out;
    height: 50px;
    line-height: 50px;
}

.input:active, .input:focus, input[type=tel]:focus, input[type=tel]:active ,input[type=email]:active, input[type=email]:focus, input[type=search]:active, input[type=search]:focus, input[type=text]:active, input[type=text]:focus {
    border: 2px solid #ffd100;
    outline: 0!important;
}


.contact__fields {
    grid-template-columns: repeat(1, 1fr);
    max-width: 427px;
}

.field.flex.flex-col {
    max-width: 427px;
    width: 100%;
}

textarea#ContactForm-body {
    max-width: 427px;
    width: 100%;
    display: block;
}

.contact.large-container.page-width.page-width--narrow.spaced-section {
    display: flex;
    flex-wrap: wrap;
}

.wrapper-copy {
    flex: 1 0 50%;
}

form#ContactForm {
    flex: 1 0 50%;
}

.wrapper-copy h1 {
    font-size: 55px;
    line-height: 65px;
    font-weight: 600;
    margin-bottom: 16px;
}

h1.main-page-title.page-title.h0 {
    display: none;
}

div.large-container.lista-store > h2 {
    font-size: 44px;
line-height: 54px;  
font-weight: 600;
}

div.large-container.lista-store h4{
font-size: 28px ;
line-height: 38px;
font-weight: 600;
}

  .large-container.lista-store.mt-24.mb-24.lg\:mt-48.lg\:mb-48 a.link.list-social__link{
display: inline-block;
    margin-right: 8px;
}
  
  .large-container.lista-store.mt-24.mb-24.lg\:mt-48.lg\:mb-48 {
    margin-top: 6rem;
}