{% section 'main-page' %}

<div class="large-container">
  <a href="https://www.iubenda.com/termini-e-condizioni/42654903" class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe iub-body-embed" title="Termini e Condizioni">Termini e Condizioni</a>
  <script type="text/javascript">// <![CDATA[
  (function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);
  // ]]></script>
</div>
