a {

}

img {
  border-radius: $radius-images;

  &.no-radius {
    border-radius: unset;
  }
}

svg {
  width: 45px;
  display: inline-block;
}

.visually-hidden {
  display: none !important;
}

.focus-none {
  outline: none;
}

.main-container {

}

.large-container {
  width: 100%;
  max-width: $large-container;
  margin: 0 auto;
  padding: 0 $lg-container-padding-desktop;

  @media (max-width: $mobile-breakpoint) {
    padding: 0 $lg-container-padding-mobile;
  }
}

.medium-container {
  width: 100%;
  max-width: $medium-container;
  margin: 0 auto;
  // padding: 0 $lg-container-padding-desktop;

  // @media (max-width: $mobile-breakpoint) {
  //   padding: 0 $lg-container-padding-mobile;
  // }
}

.small-container {
  width: 100%;
  max-width: $small-container;
  margin: 0 auto;
  // padding: 0 $lg-container-padding-desktop;

  // @media (max-width: $mobile-breakpoint) {
  //   padding: 0 $lg-container-padding-mobile;
  // }
}

.smallest-container {
  width: 100%;
  max-width: $smallest-container;
  margin: 0 auto;
  // padding: 0 $lg-container-padding-desktop;

  // @media (max-width: $mobile-breakpoint) {
  //   padding: 0 $lg-container-padding-mobile;
  // }
}

.positive-section {
  background-color: $positive-background-color;
  color: $font-color-positive;
}

.negative-section {
  background-color: $negative-background-color;
  color: $font-color-negative;
}

.positive-text {
  color: $font-color-positive;
}

.negative-text {
  color: $font-color-negative;
}

.no-max-width {
  max-width: unset !important;
}

.hero-banner {
  max-height: 436px;
  object-fit: cover;
  object-position: top;
  width: 100%;
}

.shopify-challenge__container {
  width: 100%;
  max-width: 1664px;
  margin: 0 auto;
  padding: 0 64px;
  margin-bottom: 120px;

  .shopify-challenge__button {
    border-radius: $button-radius;
    text-align: center;
  
    font-family: $font-body-family;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    color: $black;

    max-width: $button_max_width;
    height: $button_height;
    padding: 0 $button_padding; 
    background-color: $yellow;
    line-height: $button_height;

    min-width: $button-min-width__large;

    &:hover {
      box-shadow: 0 14px 30px -10px rgba(26,21,0,0.50);
    }
  }
}

#addToCartNotify {
  position: fixed;
  bottom: 0;
  background: $action-color-text;
  color: #FFF;
  font-family: $font-body-family;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  padding: 14px 0;
  transition: all 0.8s ease-in-out;
  transform: translateY(100%);
  width: 100%;

  &.opened {
    transform: translateY(0);
  }
}

@media (max-width: $mobile-breakpoint) {
  #MainContent {
    padding-bottom: 90px;
    padding-top: 20px;
  }

  #shopify-section-predictive-search-autocomplete {
    position: sticky;
    height: 61px;
    z-index: 10;
    top: 75px;
  }

  .shopify-challenge__container {
    padding: 0 16px;
    margin-bottom: 60px;

    .shopify-challenge__button {
      max-width: 100%;
      min-width: 100%;
    }
  }
}