@mixin headingFont($fontSizeDesktop, $lineHeightDesktop, $fontSizeMobile, $lineHeightMobile, $fontWeight: $font-heading-weight) {
  font-family: $font-heading-family;
  color: $font-heading-color;
  font-size: $fontSizeDesktop;
  line-height: $lineHeightDesktop;
  font-weight: $fontWeight;

  @media (max-width: $mobile-breakpoint) {
    font-size: $fontSizeMobile;
    line-height: $lineHeightMobile;
  }
}

@mixin bodyFont($fontSizeDesktop, $lineHeightDesktop, $fontSizeMobile, $lineHeightMobile, $fontWeight: $font-body-weight, $letterSpacing: normal) {
  font-family: $font-body-family;
  color: $font-body-color;
  font-size: $fontSizeDesktop;
  line-height: $lineHeightDesktop;
  font-weight: $fontWeight;
  letter-spacing: $letterSpacing;

  @media (max-width: $mobile-breakpoint) {
    font-size: $fontSizeMobile;
    line-height: $lineHeightMobile;
  }
}

h1, .h1 {
  @include headingFont($h1-font-size__desktop, $h1-line-height__desktop, $h1-font-size__mobile, $h1-line-height__mobile)
}

h2 {
  @include headingFont($h2-font-size__desktop, $h2-line-height__desktop, $h2-font-size__mobile, $h2-line-height__mobile)
}

h3 {
  @include headingFont($h3-font-size__desktop, $h3-line-height__desktop, $h3-font-size__mobile, $h3-line-height__mobile)
}

h4 {
  @include headingFont($h4-font-size__desktop, $h4-line-height__desktop, $h4-font-size__mobile, $h4-line-height__mobile)
}

h5, .h5 {
  @include headingFont($h5-font-size__desktop, $h5-line-height__desktop, $h5-font-size__mobile, $h5-line-height__mobile)
}

.h5-regular {
  @include headingFont($h5-font-size__desktop, $h5-line-height__desktop, $h5-font-size__mobile, $h5-line-height__mobile, 400)
}

.font-heading {
  font-family: $font-heading-family;
  font-weight: $font-heading-weight;
  color: $font-heading-color;
}

p, .font-body {
  font-family: $font-body-family;
  font-size: 18px; 
  line-height: 27px;
  font-weight: $font-body-weight;
  color: $font-body-color;

  @media (max-width: $mobile-breakpoint) {
    font-size: 16px;
    line-height: 24px;
  }
}

.font-body-small {
  font-family: $font-body-family;
  font-size: 14px; 
  color: $font-body-color;
}

/** CARD TYPOGRAPHY **/
.font-card-title {
  @include headingFont($cardProductTitle__fontSize__desktop, 
    $cardProductTitle__lineHeight__desktop, $cardProductTitle__fontSize__mobile, 
    $cardProductTitle__lineHeight__mobile, $cardProductTitle__fontWeight);
}

.font-blog-card-title {
  @include headingFont($cardProductTitle__fontSize__desktop, 
    $cardProductTitle__lineHeight__desktop, 20px, 
    normal, 700);
}

.font-card-vendor {
  @include bodyFont($cardProductVendor__fontSize__desktop, 
  $cardProductVendor__lineHeight__desktop, $cardProductVendor__fontSize__mobile, 
  $cardProductVendor__lineHeight__mobile, $cardProductVendor__fontWeight, $cardProductVendor__letterSpacing);
  text-transform: uppercase;
}

.font-card-format {
  font-family: $font-body-family;
  font-size: 14px;
  color: $font-body-color;
}

.primary-action {
  font-family: $font-body-family;
  font-weight: 600;
  font-size: 16px;
  color: $black;
  letter-spacing: 1px;
  transition: 0.8s all;
  text-decoration: underline;
  text-transform: uppercase;

  &:hover {
    font-weight: 900;
  }
}