$mobile-breakpoint: 1023px;

// COLORS
$primary-color: rgb(var(--color-base-text));
$black: #231F20;
$yellow: #FFD100;
$light-grey: #E8E8E8;
$dark-grey: #747476;
$red: #A12A2F;
$white: #ffffff;

$font-color-positive: var(--font-color-positive);
$font-color-negative: var(--font-color-negative);
$positive-background-color: var(--positive-background-color);
$negative-background-color: var(--negative-background-color);

$color1: var(--color1);
$color2: var(--color2);
$color3: var(--color3);
$color4: var(--color4);
$color5: var(--color5);
$color6: var(--color6);
$color7: var(--color7);


// BUTTONS
$button-primary-color-bkg: var(--button-primary-color-bkg);
$button-primary-color-text: var(--button-primary-color-text);
$button-secondary-color-bkg: var(--button-secondary-color-bkg);
$button-secondary-color-text: var(--button-secondary-color-text);
$action-color-text: var(--action-color-text);
$button-radius: var(--button-radius);

// TYPOGRAPHY
$font-body-family: var(--font-body-family);
$font-body-style: var(--font-body-style);
$font-body-weight: var(--font-body-weight);
$font-body-color: var(--font-body-color);

$font-heading-family: var(--font-heading-family);
$font-heading-style: var(--font-heading-style);
$font-heading-weight: var(--font-heading-weight);
$font-heading-color: var(--font-heading-color);

$h1-font-size__desktop: 55px;
$h1-font-size__mobile: 35px;
$h1-line-height__desktop: 65px;
$h1-line-height__mobile: 45px;

$h2-font-size__desktop: 44px;
$h2-font-size__mobile: 28px;
$h2-line-height__desktop: 54px;
$h2-line-height__mobile: 38px;

$h3-font-size__desktop: 35px;
$h3-font-size__mobile: 23px;
$h3-line-height__desktop: 45px;
$h3-line-height__mobile: 33px;

$h4-font-size__desktop: 28px;
$h4-font-size__mobile: 20px;
$h4-line-height__desktop: 38px;
$h4-line-height__mobile: 30px;

$h5-font-size__desktop: 20px;
$h5-font-size__mobile: 18px;
$h5-line-height__desktop: 30px;
$h5-line-height__mobile: 27px;

// ******* SECTIONS **********
$sectionTitle__fontWeight: $font-heading-weight;
$sectionTitle__fontSize__normal__desktop: 42px;
$sectionTitle__lineHeight__normal__desktop: 50px;
$sectionTitle__fontSize__normal__mobile: 42px;
$sectionTitle__lineHeight__normal__mobile: 50px;
$sectionTitle__fontSize__smaller__desktop: 42px;
$sectionTitle__lineHeight__smaller__desktop: 50px;
$sectionTitle__fontSize__smaller__mobile: 42px;
$sectionTitle__lineHeight__smaller__mobile: 50px;

// CONTAINERS
$large-container: 1664px;
$lg-container-padding-desktop: 64px;
$lg-container-padding-mobile: 16px;

$medium-container: 1312px;
$small-container: 1091px;
$smallest-container: 869px;

// LOGO
$logo-max-height-desktop: 46px;
$logo-max-height-mobile: 24px;

// HEADER
$header-background-color: $white;
$header-height-desktop: 112px;
$header-height-shrinked: 88px; 
$header-height-mobile: 75px;
$header-icon-margin-desktop: 32px;
$header-icon-margin-mobile: 8px;
$header-icon-width: 24px;
$header-icon-height: 24px;

// ANNOUNCEMENT BAR
$announcement-bar-height: 36px;

// MENU
$menu-max-width: 380px;
$menu-content-padding-not-shrinked-desktop: $header-height-desktop 0 0 0;
$menu-content-padding-shrinked-desktop: $header-height-shrinked 0 0 0;
$menu-content-padding-mobile: 75px 0 0 0;

$menu-navigation-padding-top-not-shrinked-desktop: $header-height-desktop;
$menu-navigation-padding-top-shrinked-desktop: $header-height-shrinked;

$menu-navigation-padding-left-desktop: 64px;
$menu-navigation-padding-right-desktop: 32px;

$menu-navigation-padding-desktop: 10px $menu-navigation-padding-right-desktop 10px $menu-navigation-padding-left-desktop;

$menu-navigation-padding-top-mobile: 75px;
$menu-navigation-padding-mobile: 16px;

$menu-close-icon-top-not-shrinked-desktop: 80px;
$menu-close-icon-top-shrinked-desktop: 32px;
$menu-close-icon-top-mobile: 25px;

// RADIUS
$radius-images: var(--radius-images);
$radius-card: var(--radius-card);
$radius-input: var(--radius-input); 

// Z-INDEX
$header-zindex: 20;
$search-zindex: 10;
$menu-zindex: 30;

// SEARCH
$search-input__height: 41px;

// PRODUCT CARD
$cardMinWidth__desktop: 300px;
$cardMaxWidth__desktop: 440px;
$cardHeight__desktop: 490px;

$cardMinWidth__mobile: 150px;
$cardMaxWidth__mobile: 300px;
$cardHeight__mobile: 369px;

$cardInfoPadding__desktop: 15px;
$cardInfoPadding__mobile: 8px;

$cardImageHeight__desktop: 265px;
$cardImageHeight__mobile: 180px;

// TYPOGRAPHY

$cardProductTitle__fontSize__desktop: 20px;
$cardProductTitle__fontSize__mobile: 15px;
$cardProductTitle__fontWeight: 500;
$cardProductTitle__lineHeight__desktop: 30px;
$cardProductTitle__lineHeight__mobile: 22px;

$cardProductVendor__fontSize__desktop: 13px;
$cardProductVendor__fontSize__mobile: 12px;
$cardProductVendor__fontWeight: 300;
$cardProductVendor__fontWeight__mobile: 20px;
$cardProductVendor__lineHeight__desktop: normal;
$cardProductVendor__lineHeight__mobile: normal;
$cardProductVendor__letterSpacing: 0.3;

$cardProductPrice__fontSize__desktop: 18px;
$cardProductPrice__fontSize__mobile: 18px;
$cardProductPrice__fontWeight: 700;
$cardProductPrice__lineHeight__desktop: normal;
$cardProductPrice__lineHeight__mobile: normal;

$cardProductSalePrice__fontSize__desktop: 16px;
$cardProductSalePrice__fontSize__mobile: 12px;
$cardProductSalePrice__fontWeight: 400;
$cardProductSalePrice__lineHeight__desktop: normal;
$cardProductSalePrice__lineHeight__mobile: normal;

// PRODUCT DETAILS
// TYPOGRAPHY

$detailsProductTitle__fontSize__desktop: 35.16px;
$detailsProductTitle__fontSize__mobile: 20px;
$detailsProductTitle__fontWeight: 700;
$detailsProductTitle__lineHeight__desktop: normal;
$detailsProductTitle__lineHeight__mobile: 30px;

$detailsProductVendor__fontSize__desktop: 18px;
$detailsProductVendor__fontSize__mobile: 16px;
$detailsProductVendor__fontWeight: 300;
$detailsProductVendor__lineHeight__desktop: 27px;
$detailsProductVendor__lineHeight__mobile: 27px;
$detailsProductVendor__letterSpacing: 2;

$detailsProductPrice__fontSize__desktop: 18px;
$detailsProductPrice__fontSize__mobile: 18px;
$detailsProductPrice__fontWeight: 700;
$detailsProductPrice__lineHeight__desktop: normal;
$detailsProductPrice__lineHeight__mobile: normal;

$detailsProductSalePrice__fontSize__desktop: 16px;
$detailsProductSalePrice__fontSize__mobile: 12px;
$detailsProductSalePrice__fontWeight: 400;
$detailsProductSalePrice__lineHeight__desktop: normal;
$detailsProductSalePrice__lineHeight__mobile: normal;

// SEARCH
$searchContainerHeight__mobile: 61px;