.cart-items {
  margin-top: 34px;

  thead {
    th {
      font-family: $font-body-family;
      font-weight: 700;
      font-size: 15px;
    }
  }

  tbody {
    .cart-item {
      td {
        padding: 40px 0;
        border-bottom: 1px solid $light-grey;
      }

      .quantity {
        display: flex;
        align-items: center;
        justify-content: center;
        
        .quantity__button {
          width: 20px;
          height: 20px;
          background-color: $black;
          color: $white;
          border-radius: 50%;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;

          svg {
            pointer-events: none;
          }
        } 

        &.quantity_selector_type_invert {
          .quantity__button {
            background-color: $white;
            color: $color1;
          }
        }
    
        .quantity__input {
          font-size: 16px;
          font-family: $font-body-family; 
          font-weight: 700;
          width: 45px; 
          border: 0;
          text-align: center;

          /* Chrome, Safari, Edge, Opera */
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
          }

          /* Firefox */
          -moz-appearance: textfield;
        }
      }

      .cart-item__vendor {
        font-family: $font-body-family;
        font-weight: 300;
        letter-spacing: 1.5px;
        font-size: 11px;
        text-transform: uppercase;
        line-height: normal;
      }

      .cart-item__name {
        font-family: $font-heading-family;
        font-size: 18px;
        line-height: 26px;
        font-weight: 500;
      }

      .cart-item__media {
        position: relative;
        padding-left: 30px;
        width: 200px;

        .cart-item__remove {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .product__price-container {
        margin-top: 30px;
        margin-bottom: 10px;
        font-family: $font-body-family;
    
        .product__compare-price {
          font-size: 14px;
        }
    
        .product__price {
          font-size: 18px;
          font-weight: 700; 
        }
      }

      .cart-item__price-wrapper {
        .price {
          font-family: $font-body-family;
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }
}

.cart__footer {
  .totals__subtotal {
    font-family: $font-body-family;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-right: auto;
  }

  .totals__subtotal-value {
    font-family: $font-body-family;
    font-size: 18px;
    font-weight: 700;
  }

  .tax-note {
    text-align: left !important;
  }
}

.cart__free-shipping {
  font-size: 18px;
  font-family: $font-body-family;
  color: $font-body-color;
  text-align: center;
  margin: 20px 0;
}

@media (max-width: $mobile-breakpoint) {
  .cart-items {
    .cart-items__heading__quantity, .cart-items__heading__total {
      display: none;
    }

    .cart-item {
      display: block;
      
      td {
        border-bottom: 0 !important;
        padding: 0 0 40px !important;
      }

      label {
        font-weight: 700;
        font-family: $font-body-family;
        font-size: 15px;
        line-height: 30px;
      }

      .cart-item__media {
        padding-left: 20px !important;
      }

      .cart-item__remove {
        transform: translateY(-100%) !important;
      }

      .cart-item__quantity {
        display: block;
        float: left;
        width: 50%;
        height: 70px;
        border-bottom: 1px solid $light-grey !important;
        text-align: left;

        label {
          display: block !important;
        }
      }

      .cart-item__totals {
        display: block;
        float: left;
        width: 50%;
        height: 70px;
        border-bottom: 1px solid $light-grey !important;
        padding: 0 0 40px !important;

        label {
          display: block !important;
          text-align: right;
        }
      }
    }
  }
}