.collection-grid-section,
.template-search {
  summary {
    cursor: pointer;
    list-style: none;
    position: relative;
  }

  summary .icon-caret {
    position: absolute;
    height: 0.6rem;
    // right: 1.5rem;
    top: calc(50% - 0.2rem);
  }

  summary::-webkit-details-marker {
    display: none;
  }

  .disclosure-has-popup {
    position: relative;
  }

  .disclosure-has-popup[open] > summary::before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: block;
    cursor: default;
    content: " ";
    background: transparent;
  }

  .disclosure-has-popup > summary::before {
    display: none;
  }

  .disclosure-has-popup[open] > summary + * {
    z-index: 100;
  }

  .facets-container {
    font-family: $font-body-family;
    font-size: 14px;
    font-weight: 400;
    color: $color1;
    margin-bottom: 32px;

    .facets {
      .facets__wrapper {
        .facets__heading {
          font-weight: 700;
          margin: 0 24px 0 0;
        }

        .facets__disclosure {
          border: 1px solid $facets-disclosure__border-color;
          height: $facets-disclosure__height;
          padding: 6px 10px;

          .facets__summary {
            svg {
              width: auto;
            }
          }

          .facets__display {
            background-color: $positive-background-color;
            border: 1px solid $negative-background-color;
          }
        }
      }

      .facet-filters {
        &.sorting {
          .facet-filters__label {
            font-weight: 700;
          }

          .select {
            &:after {
              content: unset;
            }
          }

          .icon-caret {
            right: 10px;
          }
        }
      }

      .product-count {
        align-self: center;

        .product-count__text {
          font-weight: 700;
        }
      }
    }

    .mobile-facets__wrapper {
      .mobile-facets {
        background-color: $positive-background-color;

        .mobile-facets__inner {
          background-color: $positive-background-color;
          width: auto;
          margin: 0;

          .mobile-facets__details {
            .mobile-facets__submenu {
              background-color: $positive-background-color;
            }

            .icon-arrow {
              width: 1.5rem;
            }

            .mobile-facets__sort {
              flex-wrap: wrap;
            }
          }
        }
      }

      .mobile-facets__open {
        color: $color1;

        line,
        circle {
          stroke: $color1;
        }
      }
    }

    .icon-caret {
      width: 1.5rem;
      height: 0.6rem;
      pointer-events: none;
      position: absolute;
      top: calc(50% - 0.2rem);
      right: 0px;
    }
  }
}

.collection-hero__image-container {
  height: 459px;

  img {
    height: 100%;
    object-fit: cover;
  }
}

.facets__form {
  .facet-filters__sort {
    width: 100%;
  }
}

@media screen and (max-width: 749px) {
  .collection-grid-section,
  .template-search {
    .small-hide {
      display: none !important;
    }
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .collection-grid-section,
  .template-search {
    .medium-hide {
      display: none !important;
    }
  }
}

@media screen and (min-width: 990px) {
  .collection-grid-section,
  .template-search {
    .large-up-hide {
      display: none !important;
    }
  }
}

@media screen and (min-width: 750px) {
  .collection-grid-section,
  .template-search {
    .disclosure-has-popup[open] > summary + * {
      z-index: 4;
    }

    .facets .disclosure-has-popup[open] > summary + * {
      z-index: 2;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .collection-hero__image-container {
    height: 330px;
  }
}
