.customer-account__navigation {
 a {
   &:not(:first-of-type) {
     margin-left: 20px;
   }
 }
}

.order-history, .order-details {
  font-family: $font-body-family;

  th, td {
    padding-bottom: 20px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .order-history, .order-details {
    th, td {
      padding-bottom: 10px;
    }

    thead {
      display: none;
    }
  
    tbody {
      tr {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $black;
        padding-top: 10px;
      }

      td {
        text-align: left !important;

        &:before {
          content: attr(data-label);
          font-weight: 700;
          margin-right: 20px;
        }

        span {
          float: right;
        }
      }
    }

    tfoot {
      tr {
        display: flex;
      }

      td[role='rowheader'] {
        font-weight: 700;
      }

      td[role='cell'] {
        margin-left: auto;
      }
    }
  }
}