.footer {
  // .footer__content-top {
  //   display: flex;

  //   .footer__blocks-wrapper, .footer-block--newsletter {
  //     flex: 1 0 50%;
  //   }
  // }

  .footer-block__heading {
    font-family: $font-body-family;
    font-size: 22px; 
    font-weight: 700;
    text-transform: uppercase;
    line-height: 33px;
    margin-bottom: 12px;
  }

  .footer-block__details-content {
    a {
      font-family: $font-body-family;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .footer__list-social {
    .list-social__item {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }

      svg {
        width: 45px;
      }
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .footer {
    .footer-block__heading {
      font-size: 18px !important;
      line-height: 30px !important;
    }
  }
}