$input_max_width: 427px;
$input_padding: 0 16px;
$button_max_width: 427px;
$button_height: 50px;
$button_padding: 16px;

$button-min-width__small: 148px;
$button-min-width__medium: 286px;
$button-min-width__large: 394px;

input[type="text"], 
input[type="email"],
input[type="search"] {
  &:active, &:focus, &:hover {
    border: 0;
    outline: 0 !important;
  }
}

.input {
  background-color: $white;
  border: 2px solid $light-grey !important;
  border-radius: $radius-input;
  transition: all 0.8s ease-in-out;
  max-width: $input_max_width;
  color: $black;
  padding: $input_padding;
  height: 50px;
  line-height: 50px;
  font-family: $font-body-family;

  &:active, &:focus {
    border: 2px solid $action-color-text !important;
    outline: 0 !important;
  }

  &.filled {
    border: 2px solid $black !important;
  }

  &.error {
    border: 2px solid $red !important;
  }
}

button, .button {
  border-radius: $button-radius !important;
  // width: 100%;
  text-align: center;

  font-family: $font-body-family;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  color: $black;

  &.button--small {
    min-width: $button-min-width__small;
  }

  &.button--medium {
    min-width: $button-min-width__medium;

    @media (max-width: $mobile-breakpoint) {
      min-width: 100%;
    }
  }

  &.button--big {
    min-width: $button-min-width__large;

    @media (max-width: $mobile-breakpoint) {
      min-width: 100%;
    }
  }

  &.button--primary {
    max-width: $button_max_width;
    height: $button_height;
    padding: 0 $button_padding;
    background-color: $button-primary-color-bkg;
    color: $button-primary-color-text;
    line-height: $button_height;

    &:hover {
      box-shadow: 0 14px 30px -10px rgba(26,21,0,0.50);
    }
  }

  &.button--secondary {
    max-width: $button_max_width;
    height: $button_height; 
    padding: 0 $button_padding;
    line-height: $button_height;
    background-color: $button-secondary-color-bkg;
    color: $button-secondary-color-text;
    border: 2px solid $light-grey;

    &:disabled {
      color: $dark-grey;
    }

    &:hover {
      border: 2px solid $button-secondary__hover-color;
    }
  }

  &.button--cart--icon {
    padding: 0;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    img { 
      max-width: 30px;
    }
  }

  &.button--notavailable--icon {
    padding: 0;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 35px;
    }
  }
}

.button {
  display: inline-block;
}

.label {
  font-family: $font-body-family;
  font-size: 13px;
  text-transform: uppercase;
  color: $font-body-color;
}

.form__message {
  font-family: $font-body-family;
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;

  *, h2 {
    font-family: $font-body-family;
    font-size: 16px;
    font-weight: 400;
  }

  svg {
    display: none;
  }
}

// .select {
//   background-color: $white;
//   border: 2px solid $light-grey !important;
//   border-radius: $radius-input;
//   transition: all 0.8s ease-in-out;
//   max-width: $input_max_width;
//   color: $black;
//   padding: $input_padding;
//   height: 50px;
//   line-height: 50px;

//   &:active, &:focus {
//     border: 2px solid $yellow !important;
//     outline: 0 !important;
//   }

//   &.filled {
//     border: 2px solid $black !important;
//   }

//   &.error {
//     border: 2px solid $red !important;
//   }
// }

.select {
  position: relative;
  border-radius: $radius-input;
  transition: all 0.8s ease-in-out;
  border: 2px solid $select-field__border-color !important;
  height: $select-field__height;
  display: flex;
  padding: 6px 10px;

  select {
    appearance: none;
    padding-right: 40px;
    line-height: normal;
  }

  &::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    border-top: 2px solid $black;
    border-right: 2px solid $black;
    top: 50%;
    right: 13px;
    transform: rotate(135deg) translateY(10px);
    pointer-events: none;
  }
}

.errors__container {
  font-family: $font-body-family;
  font-size: 16px;
  font-weight: 700;

  .errors {
    ul {
      margin: 0;
      padding: 0;
      color: $red;
    }
  }
}
