#shopify-section-header {
  position: sticky;
  top: 0;
  background-color: $header-background-color;
  z-index: $header-zindex;
}

#shopify-section-announcement-bar {
  z-index: $header-zindex;
}

.header__content {
  height: $header-height-desktop;
  transition: all 0.8s ease-in-out;

  &.shrinked {
    height: $header-height-shrinked;
  }

  .header__icon {
    cursor: pointer;
  }

  .cart-icon {
    position: relative;

    .cart-icon__counter {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: $color2;
      color: $color5;
      font-size: 14px;
      font-weight: 700;
      font-family: $font-body-family;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      top: -10px;
      right: -10px;
    }
  }

  .header__logo {
    height: 100%;
    padding: 4%;

    img {
      // width: 100%;
      width: auto;
      height: 100%;
      max-width: 225px;
      max-height: 46px;
    }
  }

  .header-language-switcher {
    position: relative;
    font-family: $font-body-family;
    color: $black;
    text-transform: uppercase;

    .icon-group {
      position: relative;
      margin-right: 15px;
      cursor: pointer;
      width: 50px;
      display: flex;
      align-items: center;

      svg {
        #header-switch-lingua {
          fill: $black;
        }
        #Group-3 {
          stroke: $black;
        }
      }

      &:after {
        content: "";
        width: 9px;
        height: 9px;
        border-top: 2px solid $black;
        border-right: 2px solid $black;
        position: absolute;
        transform: rotate(135deg);
        top: 6px;
        right: -15px;
      }
    }

    .switcher {
      display: none;
      position: absolute;
      background-color: $black;
      color: $white;
      width: 169px;
      left: 70%;
      transform: translateX(-50%);
      top: 0;
      padding: 50px 20px 20px 20px;
      margin-top: -10px;
      z-index: -1;

      li {
        margin-bottom: 15px;
      }
    }

    &.opened {
      color: $white;

      .icon-group {
        z-index: 900;
        svg {
          #header-switch-lingua {
            fill: $white;
          }
          #Group-3 {
            stroke: $white;
          }
        }

        &:after {
          transform: rotate(-45deg);
          top: 11px;
          border-top: 2px solid $white;
          border-right: 2px solid $white;
        }
      }

      .switcher {
        z-index: 800;
        display: inline-block;
      }
    }
  }
}

.header__three-col-w-centered-logo {
  .header__left-col {
    .header__icon {
      margin-right: $header-icon-margin-desktop;
    }
  }

  .header__right-col {
    .header__icon {
      margin-left: $header-icon-margin-desktop;
    }
  }
}

.announcement-bar {
  transition: all 0.8s ease-in-out;
  transform: translateY(0);

  &.shrinked {
    transform: translateY(-100%);
  }

  .announcement-bar__message {
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;

    .announcement-bar__icon {
      display: inline-block;
      margin-left: 10px;
    }
  }

  &.negative-section {
    .icon-free-shipping {
      width: 20px;

      .st0 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #ffffff;
      }
    }
  }

  &.positive-section {
    .icon-free-shipping {
      width: 20px;

      .st0 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #000;
      }
    }
  }
}

@media (min-width: $mobile-breakpoint) {
  #shopify-section-menu {
    position: sticky;
    z-index: $header-zindex;
    top: 88px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .announcement-bar {
    overflow: hidden;

    .large-container {
      padding: 0 !important;
    }

    .announcement-bar__scroller {
      grid-auto-flow: column;
      grid-template-columns: repeat(1, 100%);
      grid-auto-columns: 100%;
      transition: all ease-in-out 0.8s;
    }
  }

  .header__content {
    height: $header-height-mobile;

    .header__logo {
      max-height: $logo-max-height-mobile;
      padding: 0;
    }
  }

  .header__three-col-w-centered-logo {
    .header__left-col {
      .header__icon {
        margin-right: $header-icon-margin-mobile;
      }
    }

    .header__right-col {
      .header__icon {
        margin-left: 15px;
      }
    }

    .header__center-col {
      width: calc(100% / 3);
    }
  }
}

@media (max-width: 374px) {
  .header-language-switcher {
    .icon-group {
      margin-left: 5px;
      width: 15px !important;

      svg {
        display: none;
      }
    }
  }
}
