.menu__wrapper {
  font-family: $font-body-family;
  color: $menu-item-link__color;
}

.hamburger-menu__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background: rgba(35,31,32,0.60);
  transition: all 0.8s ease-in-out;
  transform: translateX(-100%);
  z-index: $menu-zindex;

  &.opened {
    transform: translateX(0);
  }

  // START MENU CONTENT
  .menu__content {
    width: 100%;
    max-width: $menu-max-width;
    height: 100%;
    background-color: $positive-background-color;
    padding: $menu-content-padding-not-shrinked-desktop;
    position: relative;
    overflow-x: hidden;
  
    .menu__close-icon {
      position: absolute;
      cursor: pointer;
      top: $menu-close-icon-top-not-shrinked-desktop;
      left: $menu-navigation-padding-left-desktop;
    }
  
    .menu__level-container {
      position: absolute;
      overflow: scroll;
      width: 100%;
      transition: all 0.8s ease-in-out;
      height: calc(100% - $menu-navigation-padding-top-not-shrinked-desktop);
      background-color: $positive-background-color;
      font-size: $menu-item__font-size__mobile;
    
      li {
        padding: $menu-navigation-padding-desktop;
        position: relative;
        cursor: pointer;
  
        .menu__item-arrow {
          position: absolute;
          right: $menu-navigation-padding-right-desktop;
          top: 50%;
          transform: translateY(-50%);
        }
      }
  
      &.menu___first-level-container {
        
        li {
          text-transform: uppercase;
          letter-spacing: 0.86px;
          font-weight: $hamburger-menu__menu-item__font-weight__firstLevel;
  
          &:after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: $hamburger-menu__menu-item-separator__color;
            opacity: 0.2;
            position: absolute;
            left: 0;
            bottom: 0;
          }
        }
      }
    
      &.menu__second-level-container {
        transform: translateX(-100%);
    
        &.opened {
          transform: translateX(0);
        }
  
        & > li {
            letter-spacing: 0.86px;
            font-weight: $hamburger-menu__menu-item__font-weight__secondLevel;
  
            // &:before {
            //   content: '';
            //   display: block;
            //   width: 100%;
            //   height: 1px;
            //   background-color: $hamburger-menu__menu-item-separator__color;
            //   opacity: 0.2;
            //   position: absolute;
            //   left: 0;
            //   top: 0;
            // }
  
            &:after {
              content: '';
              display: block;
              width: 100%;
              height: 1px;
              background-color: $hamburger-menu__menu-item-separator__color;
              opacity: 0.2;
              position: absolute;
              left: 0;
              bottom: 0;
            }
  
            .menu__item-heading {
              padding-left: 20px;
            }
  
            &:first-child {
              .menu__item-arrow {
                right: unset;
                left: $menu-navigation-padding-left-desktop;
                transform: translateY(-50%) rotate(180deg);
              }

              .menu__item-heading {
                font-weight: $hamburger-menu__menu-item__font-weight__firstLevel;
                text-transform: uppercase;
              }
            }
        }

        .menu__item-has-third-level {
          & > span {
            position: relative;
            display: block;
          }

          .menu__item-arrow {
            transform: translateY(-50%) rotate(90deg);
            right: 0;
          }

          &.opened {
            .menu__item-arrow {
              transform: translateY(-50%) rotate(-90deg);
            }
          }
        }
      }

      &.menu__third-level-container {
        position: relative;
        height: auto;
        display: none;
        margin-top: 16px;
  
        li {
          padding: 0 0 16px;
          margin: 0;
          font-weight: $hamburger-menu__menu-item__font-weight__thirdLevel;
          font-size: $hamburger-menu__menu-item__font-size__thirdLevel;
  
          &:first-child {
            &:before, &:after {
              content: unset;
            }
          }
        }

        &.opened {
          display: block;
        }
      }
    }
  
    &.shrinked {
      padding: $menu-content-padding-shrinked-desktop;
  
      .menu__close-icon {
        top: $menu-close-icon-top-shrinked-desktop;
      }
  
      .menu__level-container {
        height: calc(100% - $menu-navigation-padding-top-shrinked-desktop);
      }
    }
  
    .menu__bkg {
      position: absolute;
      width: 100%;
      bottom: 0;
      pointer-events: none;
    }

    .menu__social-section {
      position: absolute;
      bottom: 34px;
      left: $menu-navigation-padding-left-desktop;
      z-index: 10;

      .heading {
        margin-bottom: 8px;
      }
    
      .menu__social-items {
        display: flex;
    
        .menu__social-item {
          width: 45px;
          margin-right: 30px;
        }
      }
    }
  }
  // END MENU CONTENT

}

.horizontal-menu__wrapper {
  position: relative;
  z-index: 10;
  font-family: $font-body-family;
  font-size: 16px;
  letter-spacing: 0;
  background-color: $horizontal-menu__background;

  .menu__content {
    display: flex;
    max-width: 1664px;
    margin: 0 auto;
    padding: 0 64px;

    .menu__close-icon {
      display: none;
    }

    .menu__level-container {
      &.menu___first-level-container {
        flex: 1 0 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        z-index: 10;

        & > li {
          padding-top: 16px;
          padding-bottom: 16px;
        }

        .menu__item-title {
          z-index: 10;
          position: relative;
        }

        .menu__item-arrow {
          display: inline-block;
          height: 15px;
          width: 9px;
          margin-bottom: 5px;
          margin-left: 3px;
          position: relative;

          img {
            position: absolute;
            transform: rotate(90deg);
            top: 8px;
            margin-left: 8px;
          }
        }
      }

      &.menu__second-level-container {
        position: absolute;
        z-index: 9;
        left: 0;
        padding: 24px 16px;
        background: #FFF;
        width: 100%;
        top: 100%;
        opacity: 0;
        pointer-events: none;

        &.opened {
          opacity: 1;
          pointer-events: auto;
        }

        .menu__second-level-title {
          font-weight: 700;
          padding-bottom: 22px;
          margin-bottom: 22px;
          border-bottom: 1px solid $horizontal-menu__menu-item-separator__color;
          display: block;
        }
      }

      &.menu__third-level-container {
        li {
          margin-bottom: 16px;
        }
      }
      
    }

    .menu__social-section {
      display: none;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .hamburger-menu__wrapper {
    .menu__content {
      padding: $menu-content-padding-mobile;
  
      .menu__close-icon {
        top: $menu-close-icon-top-mobile;
        left: $menu-navigation-padding-mobile;
      }
  
      .menu__level-container {
        height: calc(100% - $menu-navigation-padding-top-mobile);
  
        li {
          padding-left: $menu-navigation-padding-mobile;
          padding-right: $menu-navigation-padding-mobile;
  
          .menu__item-arrow {
            right: $menu-navigation-padding-mobile;
          }
        }
  
        &.menu__second-level-container {
          li {
            &:first-child {
              .menu__item-arrow {
                left: $menu-navigation-padding-mobile;
              }
            }
          }
        }
      }
    }

    .menu__social-section {
      left: $menu-navigation-padding-mobile;
    }
  }
}