.featured-product__vendor {
  font-family: $font-body-family;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  text-transform: uppercase;
}

// .featured-product__image {
//   height: 0;
// }

.featured-product__title {
  font-family: $font-heading-family;
  font-size: 35px;
  font-weight: 700;
  color: $font-heading-color;
}

.featured-product__attributes,
.featured-product__description,
.featured-product__original-price {
  font-family: $font-body-family;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: $font-body-color;
  white-space: pre-wrap;

  &.featured-product__original-price {
    text-decoration: line-through;
  }
}

.featured-product__price-container {
  margin-top: 32px;
}

.featured-product__price {
  font-family: $font-body-family;
  font-size: 24px;
  font-weight: 700;
  color: $font-body-color;
}

@media (max-width: $mobile-breakpoint) {
  .featured-product__addtobasket {
    button {
      min-width: 100% !important;
    }
  }
}

.spr-stars,
.spr-summary span {
  font-family: $font-body-family;
  color: $font-body-color;
}
