$padding-search-content: 16px;

.search__wrapper {
  position: relative;
}

.search__container {
  position: fixed;
  transform: translateY(-100%);
  transition: all 0.8s ease-in-out;
  width: 100vw;
  opacity: 0;

  &.opened {
    transform: translateY(0);
    z-index: $search-zindex;
    opacity: 1;
  }

  .search__input {
    max-width: unset;
    margin: 10px 0;
    z-index: calc($search-zindex + 1);
    position: relative; 
    width: 100%;
    height: $search-input__height;
    line-height: $search-input__height;
  }

  .predictive-search {
    overflow: visible;
  }

  .search__results-container {
    position: relative;
  }
  
  #predictive-search-results {
    background: #FFF;
    color: #000;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    top: -50px;
    padding-top: 55px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 16px;

    .search__results-container__collections {
      flex: 1 0 30%;
      padding-left: $padding-search-content;
      padding-right: $padding-search-content;
    }

    .search__results-container__products {
      flex: 1 0 70%;
      padding-left: $padding-search-content;
      padding-right: $padding-search-content;
    }

    .predictive-search__show-more {
      flex: 1 0 100%;
      margin-top: 16px;
      text-align: center;
    }

    .predictive-search__item-heading {
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
    }

    .price-item {
      font-size: 16px;
      font-family: $font-body-family;
      font-weight: 700;
    }

    .predictive-search__item-vendor {
      font-family: $font-body-family;
      font-size: 11px;
      letter-spacing: 1.5px;
      font-weight: 300;
      text-transform: uppercase;
    }

    .predictive-search__item--link {
      display: block !important;
    }

    .predictive-search__image {
      img {
        min-width: 115px;
      }
    }
  }
}

#FacetFiltersForm {
  .facet-filters.sorting {
    .select {
      margin-left: 10px;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .search__container {
    position: relative;
    transition: none;
    transform: translateX(0);
    opacity: 1; 
    z-index: $search-zindex;
    height: $searchContainerHeight__mobile;

    #predictive-search-results {
      .search__results-container__products {
        flex: 1 0 100%;
      }

      .search__results-container__products {
        flex: 1 0 100%;
      }

      .predictive-search__item {
        padding-left: 0;
        padding-right: 0;
      }

      .predictive-search__image {
        flex: 0 !important;
      }

      .predictive-search__item-content {
        padding-left: 20px;
        flex: 1 !important;
      }
    }
  }

  #FacetFiltersForm {
    .facet-filters.sorting {
      .select {
        flex: 1 0 auto;
      }
    }

    .product-count {
      order: 2;
      justify-content: center;

      .product-count__text {
        margin-top: 16px;
      }

      .loading-overlay__spinner {
        display: none;
      }
    }
  }
}
